.container {
	display: flex;
	align-items: center;
	gap: 2em;
}

.icon {
	height: 3.4em;
	width: 7.5em;
}

.mirror {
	transform: scale(-1, 1);
	transform-origin: center;
}

.win {
	color: var(--primary-400);
}

.lose {
	color: var(--error-400);
}

.none {
	color: var(--disable-500);
}


@value sizes: '../../style/display.css';
@value mobile, tablet, laptop from sizes;

@media (min-height: mobile) and (max-height: tablet),
(min-width: mobile) and (max-width: laptop) {

	.container {
		gap: 1.5em;
	}

	.icon {
		height: 2.4em;
		width: 5em;
	}
}

@media (max-width: mobile), (max-height: mobile) {

	.container {
		gap: 1em;
	}

	.icon {
		height: 1.6em;
		width: 3.5em;
	}
}

/* При малой ширине экрана иконки кораблей не отображаются */
@media (max-width: 720px),
(min-height: mobile) and (min-width: mobile) and (max-width: 960px)
{
	.icon {
		display: none;
	}
}