/* html {
	scrollbar-width: none;
	--main-text-color: #51CF15;
	--main-bg-color: #00200A;
	background: no-repeat linear-gradient(to bottom,var(--main-bg-color), #003C19);
	min-width: 360px;
} */

/* 
::-webkit-scrollbar {
	width: 0px;
}

a {
	color: var(--main-text-color);
	text-decoration: none;
} */

@value colors: '../../style/colors.css';
@value light, primary from colors;

@value typography: '../../style/typography.css';
@value letterSpacing_M, lineHeight_M, wordSpacing_M, lightWeight, boldWeight, extraLargeText, mediumText from typography;

.pageTitle {
	composes: extraLargeText;
	text-align: center;
	text-transform: uppercase;
	line-height: lineHeight_M;
	word-spacing: wordSpacing_M;
	letter-spacing: letterSpacing_M;
	color: primary;
	font-weight: boldWeight;
}

.introduction {
	composes: mediumText;
	line-height: lineHeight_M;
	word-spacing: wordSpacing_M;
	color: light;
	font-weight: lightWeight;
}

/* html, body, .background {
	width: 100%;
	margin: 0;
	min-height: 100vh;
} 


.background {
	background: repeat url(../../img/main/bg-cell3.png);
} */

.content {
	composes: container from '../../style/ScrolledContainer.module.css';
	display: flex;
	align-items: left;
	flex-direction: column;
	margin: 0 auto;
	max-width: 800px;
	height: 100vh;
	padding: 0 20px;
}

/* @media screen and (max-width:1300px) {
	.pageTitle {
		font-size: 38px;
	}
	.return, h2 {
		font-size: 20px;
	}
} */

