.page {
	width: 100%;
	min-height: 100vh;
	background: var(--disable-900);
	padding: 8vh 0;
}

.article {
	margin: 0 auto;
	padding: 0 max( 7vw, 16px );
	max-width: 736px;
}

.content {
	color: var(--primary-50);

	p {
		margin: .5em 0;
	}
}

.part {
	margin: 3em 0;
}