@value typography: '../../style/typography.css';
@value colors: '../../style/colors.css';
@value primary-50 from colors;

.title {
	composes: large-header from typography;
	composes: large-header-1 from typography;
	color: primary-50;
}

.sub {	
	composes: header from typography;
	composes: header-4 from typography;
	display: block;
	margin: 1.75em auto;
}

.content {
	max-width: 960px;
	margin: 80px auto;
	text-align: center;
}

.image {
	display: block;
	width: 100%;
}

.play {
	position: relative;
	top: -1.75em;
	width: 10em;
	margin: 0 auto;
}