@value colors: '../../../style/colors.css';
@value secondary-50 from colors;

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: relative;
}

.instruction {
	color: secondary-50;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 1em;
	margin-bottom: 3em;
	max-width: min(38em, 100%);
	text-align: center;
	padding: .5em;
}

.headerText {
	composes: text from '../../../style/typography.css';
	composes: text-b-normal from '../../../style/typography.css';
}

.text {
	composes: long-text from '../../../style/typography.css';
	composes: long-text-m-normal from '../../../style/typography.css';
}