@value sizes: '../../../style/display.css';
@value mobile, laptop from sizes;

.page {

	--page-padding-x: .75em;
	--page-padding-y: .75em;
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient( rgba(255,255,255, 0) 2.9em, rgba(64, 132, 60, 0.08) 3em) 0 0, linear-gradient( 90deg, rgba(255, 255, 255, 0) 2.9em, rgba(64, 132, 60, 0.08) 3em) 0 0;
	background-color: #1E2C26;
	background-size: 3em 3em;
}

.interface {
	box-sizing: border-box;
	display: flex;
	position: absolute;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-height: 200px;
	padding-bottom: var(--page-padding-y);
	pointer-events: none;
}

.spacer {
	flex-grow: 1;
	flex-shrink: 1;
}


.diagram {
	width: 100%;
	height: 100%;
}

.diagram:focus {
	outline: none;
}

.filter {
	position: sticky;
	width: 100%;
	overflow-x: auto;
	justify-content: center;
	bottom: 1em;
}

.leftPageCorner {
	display: flex;
	position: absolute;
	top: var(--page-padding-y);
	left: var(--page-padding-x);
	flex-direction: column;
	max-width: 45%;
	user-select: none;
	pointer-events: none;
	row-gap: .75em;
}

.rightPageCorner {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	align-items: flex-start;
	column-gap: 0em;
	user-select: none;
}

.progressBar {
	width: 30em;
}

.fullScreenBtn {
	z-index: 140;
	width: 2.8em;
	pointer-events: auto;
}

@media (max-width: 1400px) {
	.processInfo {
		font-size: 12px;
	}
}

@media (min-width: mobile) and (max-width: laptop) {
	.page {
		--page-padding-x: .5em;
		--page-padding-y: .5em;
	}

	.leftPageCorner {
		max-width: 50%;
		row-gap: .5em;
	}

	.progressBar {
		width: 25em;
	}
}

@media (max-width: 940px) {
	.leftPageCorner {
		max-width: min( 80%, 29.4em );
	}

	.filter {
		justify-content: flex-end;
		margin-right: var(--page-padding-x);
		width: calc(100% - var(--page-padding-x));
	}

}

@media (max-width: mobile), (max-height: mobile) {
	.page {
		--page-padding-x: .25em;
		--page-padding-y: .25em;
	}
	
	.leftPageCorner {
		max-width: min( 80%, 29.4em );
		row-gap: .5em;
	}

	.progressBar {
		width: 18em;
	}
	
	.fullScreenBtn {
		width: 2em;
	}

	.filter {
		justify-content: flex-start;
	}
}