@value colors: '../../style/colors.css';
@value primaryDark, primary from colors;

@value typography: '../../style/typography.css';
@value mediumText, mediumWeight from typography;

/*подвал*/
.privacy {
	position: relative;
	height: 5em;
}

.line {
	position: absolute;
	right: -10%;
	bottom: 20%;
	mix-blend-mode: overlay;
}

.button {
	composes: mediumText;
	position: absolute;
	right: 13%;
	bottom: 40%;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
	color: primaryDark;
	font-weight: mediumWeight;
}

.button:hover {
	color: primary;
}