@value colors: '../../style/colors.css';
@value custom-white, primary-200, primary-300, primary-700, secondary-400, secondary-600, secondary-900, error-100, error-400, error-600, error-900 from colors;

@value effects: '../../style/effects.css';
@value glow__arrow-selection-1, glow__arrow-selection-2, glow__arrow-selection--error-1, glow__arrow-selection--error-2 from effects;

.off {
	fill: secondary-600;
	stroke: secondary-600;
}

.on {
	fill: primary-300;
	stroke: primary-300;
	animation: blink 1.4s ease-in infinite both;
}

.hit {
	fill: error-400;
	stroke: error-400;
}

.miss {
	fill: custom-white;
	stroke: custom-white;
}


/*----------  Selected  ----------*/

.off.selected {
	fill: secondary-400;
	stroke: secondary-900;
	filter: drop-shadow(glow__arrow-selection-1) drop-shadow(glow__arrow-selection-2);
}

.on.selected {
	fill: primary-200;
	stroke: primary-700;
	filter: drop-shadow(glow__arrow-selection-1) drop-shadow(glow__arrow-selection-2);
	animation: blink-select 1s ease-in infinite both;
}

.hit.selected {
	fill: error-900;
	stroke: error-600;
	filter: drop-shadow(glow__arrow-selection--error-1) drop-shadow(glow__arrow-selection--error-2);
}

.miss.selected {
	fill: error-600;
	stroke: error-100;
	filter: drop-shadow(glow__arrow-selection--error-1) drop-shadow(glow__arrow-selection--error-2);
}



@keyframes blink {
	0% {
		fill: primary-300;
		stroke: primary-300;
	}
	50% {
		fill: #fffbc0;
		stroke: #fffbc0;
		filter: drop-shadow(0px 0px 4px #fffbc0);
	}
	100% {
		fill: primary-300;
		stroke: primary-300;
	}
}

@keyframes blink-select {
	0% {
		fill: primary-200;
	}
	50% {
		fill: #fffbc0;
		filter: drop-shadow(0px 0px 4px #fffbc0);
	}
	100% {
		fill: primary-200;
	}
}