@value colors: '../../style/colors.css';
@value inactiveArrow, main from colors;

@value effects: '../../style/effects.css';
@value weakGlowText from effects;

.cell_off {
	fill: inactiveArrow;
	stroke: inactiveArrow;
}

.cell_on {
	fill: main;
	stroke: main;
	animation: blink 1.4s ease-in infinite both;
}

.cell_hit {
	fill: #159aff;
	stroke: #159aff;
}

.cell_miss {
	fill: #e1503e;
	stroke: #e1503e;
}

.cell_selected {
	fill: #ACF3A9;
	stroke: #ACF3A9;
	filter: drop-shadow(0px 0px 4px #ACF3A9);
}

.cell_on.cell_selected {
	animation: blink-select 1.4s ease-in infinite both;
}

@keyframes blink {
	0% {
		fill: main;
		stroke: main;
	}
	50% {
		fill: #cae9b8;
		stroke: #cae9b8;
		filter: drop-shadow(0px 0px 4px #cae9b8);
	}
	100% {
		fill: main;
		stroke: main;
	}
}

@keyframes blink-select {
	0% {
		fill: #5ab8ff;
		stroke: #5ab8ff;
	}
	50% {
		fill: #abdbff;
		stroke: #abdbff;
		filter: drop-shadow(0px 0px 4px #e3f3d9);
	}
	100% {
		fill: #5ab8ff;
		stroke: #5ab8ff;
	}
}