@value colors: '../../style/colors.css';
@value primary-50, primary-100, primary-200, primary-400, secondary-100, secondary-800, secondary-900 from colors;

@value effects: '../../style/effects.css';
@value glow__diagram-selection-1, glow__diagram-selection-2 from effects;


.shipName {
	cursor: default;
	font-size: 24px;
	font-family: var(--primary-font);
	font-weight: normal;
	user-select: none;
	fill: secondary-100;
	pointer-events: none;
}

.sequencer {
	font-size: 10px;
	font-family: var(--secondary-font);
	font-weight: normal;
	user-select: none;
	fill: var(--disable-300);
	pointer-events: none;
}


/*=============================================
=            Normal Style            =
=============================================*/

.container {
	stroke: #A1FDD666;
	stroke-width: 2;
	fill: none;
}

.container.filtered {
	stroke: primary-50;
	filter: drop-shadow(glow__diagram-selection-2);
}

.container.highlighted {
	fill: secondary-900;
	stroke: primary-400;
	stroke-width: 2;
}

.container.highlighted.filtered {
	fill: secondary-900;
	stroke: primary-400;
	filter: drop-shadow(glow__diagram-selection-2);
}


.shipFill {
	fill: none;
}

.shipStroke {
	stroke: transparent;
	fill: none;
	stroke-width: 2;
}

.shipFill.highlighted {
	fill: secondary-900;
}

.shipStroke.highlighted {
	stroke: primary-400;
	stroke-width: 2;
}

.shipStroke.highlighted.filtered {
	stroke: primary-400;
	filter: drop-shadow(glow__diagram-selection-1) drop-shadow(glow__diagram-selection-2);
}

.shipStroke.filtered {
	stroke: primary-50;
	filter: drop-shadow(glow__diagram-selection-2);
}


/*=============================================
=            Ship Style            =
=============================================*/

svg[data-mode='cell'] .shipSilhouette {
	fill: var(--disable-900);
}

svg[data-mode='block'] .shipSilhouette {
	fill: var(--primary-700);
}

svg[data-mode='none'] .shipSilhouette {
	fill: var(--secondary-900-dark-backing);
}

svg .containersBg {
	fill: var(--disable-900);
}

svg[data-mode='none'] .containersBg {
	fill: var(--secondary-900-dark-backing);
}

svg[data-mode='block'][data-style='ships'] .shipName {
	fill: var(--primary-50);
}

svg[data-mode='cell'][data-style='ships'] .container {
	stroke: #21C31566;
}

svg[data-mode='block'][data-style='ships'] .container {
	fill: none;
}

svg[data-mode='block'][data-style='ships'] .shipFill {
	fill: none;
}