@value colors: '../../style/colors.css';
@value primary-50, primary-100, primary-200, primary-400, secondary-100, secondary-800, secondary-900 from colors;

@value effects: '../../style/effects.css';
@value glow__diagram-selection-1, glow__diagram-selection-2 from effects;

.shipName {
	fill: secondary-100;
	cursor: default;
	font-size: 1.5em;
	font-family: var(--primary-font);
	font-weight: normal;
	user-select: none;
}

.container {
	stroke: #A1FDD666;
	stroke-width: 2;
	fill: none;
}

.container.filtered {
	stroke: primary-50;
	filter: drop-shadow(glow__diagram-selection-2);
}

.container.highlighted {
	fill: secondary-900;
	stroke: primary-400;
	stroke-width: 2;
}

.container.highlighted.filtered {
	fill: secondary-900;
	stroke: primary-400;
	filter: drop-shadow(glow__diagram-selection-2);
}


.shipFill {
	fill: none;
}

.shipStroke {
	stroke: transparent;
	fill: none;
	stroke-width: 2;
}

.shipFill.highlighted {
	fill: secondary-900;
}

.shipStroke.highlighted {
	stroke: primary-400;
	stroke-width: 2;
}

.shipStroke.highlighted.filtered {
	stroke: primary-400;
	filter: drop-shadow(glow__diagram-selection-1) drop-shadow(glow__diagram-selection-2);
}

.shipStroke.filtered {
	stroke: primary-50;
	filter: drop-shadow(glow__diagram-selection-2);
}