@import "../../style/display.scss";

.header {
	display:flex;
	position:absolute;
	right:0;
	left:0;
	align-items:center;
	flex-direction:row;
	justify-content:space-between;
	z-index:5;
	margin:0 auto;
	height:3.4rem;
	padding: 0 20px;

	background-color: var(--disable-800);
	color: var(--primary-200);

	@include mobile {
		align-items: flex-start;
		height: min-content;
		padding: 0 16px;

		.lang {
			padding: .2em .3em;
		}
	}

	.burger {
		display: none;
		padding: .46em 0.34em;
		font-size: .7em;
	
		@include mobile {
			display: block;
			margin-right: 0;
		}
	}
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-400);
	font-size: 2.4em;

	@include mobile {
		box-sizing: border-box;
		margin: 6.5px 4px;
		width: 23px;
		height: 23px;
	}

	&Section {
		display: flex;
		align-items: center;
		column-gap: 1em;
	}
}
