.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.25);
}

.bubble {
	position: fixed;
	right: 50%;
	bottom: 50%;
	z-index: 1002;
	max-width: 25%;
	text-align: center;
	color: black;
	background-color: white;
	padding: 1.25em 1.5em;
	border-radius: 1.125em;
	user-select: none;
}

.bubble:after {
	content: "";
	position: fixed;
	right: calc( 20px + 50% );
	top: 50%;
	z-index: 1002;
	width: 60px;
	height: 50px;
	background: url("../../img/instruction/tail.svg");
}

.captain {
	position: fixed;
	left: 50%;
	bottom: 0;
	max-height: 90%;
	max-width: 60%;
	z-index: 1001;
}

@value sizes: '../../style/display.css';
@value mobile, tablet, laptop from sizes;

@media screen and (orientation: portrait) {
	
	.bubble {
		right: auto;
		left: 15%;
		bottom: 75%;	
		max-width: 60%;
	}
	
	.bubble:after {
		right: auto;
		left: calc( 50px + 15% );
		top: 25%;
	}

	.captain {
		top: 30%;
		left: 5%;
		bottom: auto;
		max-width: 120%;
	}
}

@media (min-height: mobile) and (max-height: tablet),
(min-width: mobile) and (max-width: laptop) {

	.bubble {
		padding: 1em 1.25em;
		border-radius: 1em;
	}

	.bubble:after {
		width: 42px;
		height: 35px;
		background-size: 42px 35px;
	}

	.captain {
		height: 710px;
		width: 560px;
	}
}

@media (max-width: mobile), (max-height: mobile) {
	
	.bubble {
		padding: 0.875em 1.25em;
		border-radius: 0.875em;
	}

	.bubble:after {
		width: 30px;
		height: 25px;
		background-size: 30px 25px;
	}

	.bubble > span {
		font-size: 1em;
	}

	.captain {
		width: 450px;
	}
}

.overlay ~ div {
	filter: blur(3px);
}