@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); /*шрифт*/
html{
	--main-text-color: #51CF15;
	--main-bg-color: #00200A;
	--main-darktext-color: #299601;
	height: 100%;
	background-image: -webkit-linear-gradient(bottom,#003C19,#00200A);
	background: no-repeat -o-linear-gradient(top,var(--main-bg-color), #003C19);
	background: no-repeat linear-gradient(to bottom,var(--main-bg-color), #003C19);/*градиент фона*/
	min-width:680px;
	overflow-x: auto;
	min-height:620px;
}

/*линии на фоне*/
body {
	background: repeat url(../img/index/bg-lines.png); 
	height: 100%;
	width:100%;
	margin:0;
}

/*клетки на фоне*/
.background-cell{
	background:repeat url(../img/index/bg-cell2.png);
	height: 100%;
	width:100%;
	margin:0;
}

/*круг на фоне*/
.background-circle{
	background: url(../img/index/fon_t.svg) no-repeat fixed  center center;
	background-size: cover;
	height: 100%;
	width:100%;
	margin:0;
}

.content{
	height: 100%;
	width:100%;
	max-width: 800px;
	padding:0 32px;
	font-family: 'Montserrat', sans-serif;
	color:var(--main-text-color);
		display: -webkit-box;
		display: -ms-flexbox;
	display: flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-ms-flex-direction:column;
	flex-direction:column; 
		-ms-flex-pack:distribute;
	justify-content:space-around;
	margin:0 auto;
		-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

/*название игры*/
.game-name{
	margin: 5vh auto 10vh;
		display: -webkit-box;
		display: -ms-flexbox;
	display: flex;
	font-size: 46px;
	letter-spacing:0.2em;
}

.game-name_orbital{
	max-width: 6em;
	padding: 0.15em 0.5em;
	border: 3px solid var(--main-text-color);	
}

.game-name_battleship{
	padding: 0.2em 0.45em;
	background-color: var(--main-text-color);
	color: var(--main-bg-color);
		-webkit-transform: translate( -1.4em, 1.4em );
		-ms-transform: translate( -1.4em, 1.4em );
	transform: translate( -1.4em, 1.4em );
}

/*главное меню */
.menu{
		display: -webkit-box;
		display: -ms-flexbox;
	display: flex;
	flex-direction:row; 
		-webkit-box-pack:end;
		-ms-flex-pack:end;
	justify-content:flex-end;
}

.menu-column{
		display: -webkit-box;
		display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
	flex-direction: column;
	font-size: 28px;
	padding: 0;
}

/*кнопки главного меню и их состояния*/
.menu-column-choose{
	font-size: 18px;
	letter-spacing:0.2em;
	width: 14em;
	border: 3px solid var(--main-darktext-color);
	text-align:center;
	padding: 0.5em;
	margin: 0.4em 0;
	background-color:transparent;
	color:var(--main-text-color);
	outline:none;
}

.menu-column-choose:hover{
	background-color:var(--main-text-color);
	border-color:var(--main-text-color);
	color:var(--main-bg-color);
}
.menu-column-choose:disabled{
	opacity: 0.4;
	background-color:transparent;
	color:var(--main-text-color);
	border-color:var(--main-darktext-color);
}

/*подвал*/
.politic{
	position: relative;
	height: 5em;
}
.politic img{
	position: absolute;
	bottom:20%;
	right:-10%;
	mix-blend-mode: overlay;
}

.politic-button{
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	right:13%;
	bottom:40%;
	font-size: 16px;
	background-color:transparent;
	border:none;
	outline:none;
	color:var(--main-darktext-color);
}

.politic-button:hover{
	color:var(--main-text-color);
}

@media screen and (max-width:1300px) {
	html{
		min-height:530px;
	}
	.game-name{
		font-size: 38px;
	}
	.menu-column-choose{
		font-size: 16px;
	}
}