@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap'); /*шрифт*/
html{
    height: 100%;
}

body {
    --main-text-color:#51CF15;
    max-width:1400px;
    height:100%;
    background:url(../img/stub/green_background.svg);
    font-family:'Montserrat', sans-serif;
    color:var(--main-text-color);
    color:#51CF15;
    margin:0 auto;
        display:-webkit-box;
        display:-ms-flexbox;
    display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
    flex-direction:column;
        -ms-flex-pack:distribute;
    justify-content:space-around;
        -webkit-box-align:center;
        -ms-flex-align:center;
    align-items:center;
}

/*заголовок*/
.development{
    font-size: 48px;
    width:16em;
    text-align:center;
    letter-spacing: 0.2em;
}

.return_to_main{
    font-size: 24px;
    width:12em;
    font-weight:300;
}

/*фоновые круги*/
.circle1, .circle2, .circle3{
    position:absolute;
    transition: transform 1s;
    transform-origin: center center;
    transform: rotate(90deg);
}

.circle1{
    left:4em;
    top:3em;
}

.circle2{
    right:5em;
    bottom:16em;
}
.circle3{
    left:20em;
    bottom:10em;
}

/*круг загрузки*/
.loading{
    transition: transform 5s;
    transform-origin: center center;
    transform: rotate(360deg);
}

@media screen and (max-width:1024px) {
    .development{
        font-size: 40px;
    }
    .circle3{
        left:7em;
        bottom:5em;
    }
}