@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); /*шрифт*/
html{
    height: 100%;
}

body {
    --main-text-color: #51CF15;
    --main-bg-color: #00200A;
    max-width: 1400px;
    height: 100%;
    background:  #00200A;   /*для Safari и IE не работает var(--main-text-color)*/
    background: linear-gradient(to bottom,var(--main-bg-color), #003C19);  /*градиент фона*/
    background: linear-gradient(to bottom, #00200A, #003C19);  /*градиент фона для IE*/
    font-family: 'Montserrat', sans-serif;
    color:var(--main-text-color);
    color:#51CF15;
    margin:0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
    display: flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
    flex-direction:column;
        -webkit-box-pack:justify;
        -ms-flex-pack:justify;
    justify-content:space-between;
}

.switch{
        display: -webkit-box;
        display: -ms-flexbox;
    display: flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -ms-flex-direction:row;
    flex-direction:row;
        -ms-flex-pack:distribute;
    justify-content:space-around;

}
.switch ul{
    padding: 0;
    margin:20px;
    list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
    display: flex;
}

.switch li{
    width: 200px;
    height: 10px;
    border:1px solid var(--main-text-color);
    border:1px solid #51CF15; /*для Safari и IE не работает var(--main-text-color)*/
    margin: auto 30px;
}

.switch li:last-child{
    background-color: var(--main-text-color);
    background-color:#51CF15;
}

.button{
        display: -webkit-box;
        display: -ms-flexbox;
    display: flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -ms-flex-direction:row;
    flex-direction:row;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
    justify-content:center;
}

.button_save{
    width: 180px;
    height: 40px;
    margin:20px;
    background-color: #C4C4C4;
}

/*таблица менделеева*/
.table_mend{
    margin: -2em 1% 0 1%;
    display:block;
}

/*строки таблицы*/
.table_mend-row{
    height: 4em;
        display: -webkit-box;
        display: -ms-flexbox;
    display: flex;
}

/*ячейки с элементами*/
.table_mend-row-cell{
    border: 1px solid var(--main-text-color);
    border: 1px solid#51CF15; /*почему не работает в IE?????*/
    padding: 3px;
        display:-webkit-box;
        display:-ms-flexbox;
    display:flex;
        -ms-flex-preferred-size: 4em;
    flex-basis: 4em;
        -ms-flex-negative:0.8;
    flex-shrink:0.8;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
}

/*ячейкм пустые и с номерами групп/периодов*/
.table_mend-row-empty{
        display:-webkit-box;
        display:-ms-flexbox;
    display:flex;
    padding: 0px;
        -ms-flex-preferred-size: 4em;
    flex-basis: 4em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
}

/*номер элемента*/
.number{
    font-weight:bold;
}

/*название элемента*/
.elem{
        display:-webkit-box;
        display:-ms-flexbox;
    display:flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    font-size: 22px;
    font-weight:bold;
}

/*атомная масса элемента*/
.weight{
        display:-webkit-box;
        display:-ms-flexbox;
    display:flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    font-size: 10px;
}

/*номера групп/периодов*/
.group{
    padding: 3px;
        display:-webkit-box;
        display:-ms-flexbox;
    display:flex;
        -ms-flex-item-align: center;
    align-self: center;
    font-weight:bold;
}

/*расстояние между элементами 57-71 и основной частью*/
.marg_8_str{
    margin-top:1%;
}

@media screen and (max-width:1250px) {
    .table_mend-row-cell {
        font-size: 13px;
    }
    .elem{
        font-size: 21px;
    }
    .weight{
        font-size: 9px;
    }
    .table_mend-row-empty{
        font-size: 15px;
    }
}

@media screen and (max-width:1160px) {
    .table_mend-row-cell {
        font-size: 12px;
    }
    .elem{
        font-size: 20px;
    }
    .weight{
        font-size: 8px;
    }
    .table_mend-row-empty{
        font-size: 14px;
    }
}

@media screen and (max-width:1024px) {
    .table_mend-row-cell {
        font-size: 11px;
    }
    .elem{
        font-size: 19px;
    }
    .weight{
        font-size: 8px;
    }
    .table_mend-row-empty{
        font-size: 13px;
    }
    .table_mend-row{
        height: 3.5em;
    }
}

@media screen and (max-width:950px) {
    .table_mend-row-cell {
        font-size: 10px;
    }
    .elem{
        font-size: 18px;
    }
    .weight{
        font-size: 8px;
    }
    .table_mend-row-empty{
        font-size: 12px;
    }
    .table_mend-row{
        height: 3.3em;
    }
}