@value sizes: '../../../style/display.css';
@value mobile, tablet, laptop from sizes;


.button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	padding: 0.625em 1em;
	white-space: pre-line;
	transition: all .2s ease;
	transition-duration: .2s;
	transition-property: color, border, background-color;
	transition-timing-function: ease-in-out;
	user-select: none;
}

.disabled {
	pointer-events: none;
}


/*----------  Primary  ----------*/

.primary {
	border: none;
	border: 2px solid var(--primary-400);
	background-color: var(--primary-400);
	color: var(--primary-900);
}

@media screen and (hover: hover) {
	.primary:hover {
		border-color: var(--primary-200);
		box-shadow: var(--glow__button--light--l);
		background-color: var(--primary-200);
	}

	.primary.disabled:hover {
		box-shadow: none;
	}
}

.primary:active {
	border-color: var(--primary-600);
	background-color: var(--primary-600);
}

.primary.disabled {
	border-color: var(--disable-800);
	background-color: var(--disable-800);
	color: var(--disable-600);
}


/*----------  Secondary  ----------*/

.secondary {
	border: 2px solid currentColor;
	background-color: var(--secondary-800);
	color: var(--primary-400);
}

@media screen and (hover: hover) {
	.secondary:hover {
		border-color: var(--primary-200);
		box-shadow: var(--glow__button--primary--l);
		background-color: var(--secondary-900);
	}
	
	.secondary.disabled:hover {
		box-shadow: none;
	}
}

.secondary:active {
	border-color: currentColor;
	box-shadow: none;
	background-color: var(--secondary-800);
	color: var(--primary-600);
}

.secondary.disabled {
	border-color: var(--disable-500);
	color: var(--disable-500);
}

.secondary .text {
	text-shadow: var(--shadow__button-text);
}

.secondary:disabled .text {
	text-shadow: none;
}


@media (min-height: mobile) and (max-height: tablet),
(min-width: mobile) and (max-width: laptop) {
	.button {
		padding: 0.5em 0.8em;
	}
}

@media (max-width: mobile), (max-height: mobile) {
	.button {
		padding: 0.4em 0.625em;
	}
} 