/*кнопка возврата в меню*/
.return {
	color: #299601;
	width: fit-content;
	font-size: 24px;
	margin:64px auto 32px ;
	font-weight: 300;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-family:'Montserrat', sans-serif;
}

.return:hover {
	color: var(--main-text-color);
}

@media screen and (max-width:1300px) {
	.return {
		font-size: 20px;
	}
}
