@import "../../../style/display.scss";
@import "../../../style/root.css";

.wrap {
	width: 100%;
}

.header {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.background-radar {
	box-sizing: border-box;
	display: flex;
	align-items: end;
	justify-content: center;
	margin: 2em auto 160px;
	max-width: 1098px;

	min-height: 516px;
	background: url("../../../img/mainPage/radar.jpg") no-repeat center center;
	background-size: cover;

	@include laptop {
		margin-bottom: 130px;
		max-width: 919px;
		min-height: 431px;
	}

	@include tablet {
		margin-bottom: 110px;
		max-width: 610px;
		min-height: 282px;
	}

	@include mobile {
		margin: 20px 20px 270px;
		max-width: 100%;
		min-height: 168px;
	}
}

.footer-info {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 68px;
	padding: 1em;

	background-color: var(--secondary-900);

	@include laptop {
		min-height: 68px;
	}

	@include tablet {
		min-height: 64px;
	}

	@include mobile {
		align-items: center;
		flex-direction: column-reverse;
		min-height: 68px;
		gap: 8px;
	}

}

.links {
	display: flex;
	align-items: flex-end;
	flex-direction: column;

	@include mobile {
		align-items: center;
		gap: 8px;
	}

	a {
		text-align: center;
		color: var(--primary-600);

		&:hover {
			color: var(--primary-500);
		}
	}
}

.button-location {
	transform: translateY(40px);
}