.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 0;
	min-width: 0;
}

.bottom {
	display: flex;
	align-items: center;
	padding: 1em;
}

.table {
	--side: 3.8em;
	display: grid;
	grid-template-columns: calc(0.5 * var(--side)) repeat(18, var(--side));
	grid-template-rows: repeat(8, var(--side)) 1.2em repeat(2, var(--side));
	overflow: auto;
	max-width: 100%;
	padding: 1em;
	box-sizing: border-box;
}

.cell {
	display: flex;
	flex-direction: column;
	user-select: none;
}

.selected-element {
	display: grid;
	grid-area: 1 / 6 / 3 / 13;
	grid-template-columns: 2.2fr 5fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 1.8em;
	grid-row-gap: 1em;
	box-sizing: border-box;
}

.element-preview {
	border: solid var(--secondary-100) 2px;
	grid-area: 1 / 1 / 3 / 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.75em 0;
}

.element-preview__number {
	margin: 0 0.75em;
}

.selected-element__name, .selected-element__number {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.ammunition {
	display: flex;
	align-items: center;
	gap: 0.8em;
}

.ammunition__img {
	height: 2.25em;
	width: 2.25em;
}

/* ячейки с элементами */
.element {
	padding: 3px;
	background-color: var(--disable-800);
	color: var(--primary-200);
	cursor: pointer;
}

.element:focus-visible {
	z-index: 100;
}

/* ячейки выбранная и обычная при наведении */
@media (hover: hover) {
	.element:hover {
		background-color: var(--primary-700);
		color: var(--primary-200);
	}
}

.element--selected {
	background-color: var(--primary-400);
	color: var(--primary-900);
}

@media (hover: hover) {
	.element--selected:hover {
		background-color: var(--primary-200);
		color: var(--primary-900);
	}
}

.element:active {
	background-color:var(--primary-600);
	color:var(--primary-900);
}

.element--disabled,
.element--disabled:active {
	background-color: var(--secondary-800);
	color: var(--disable-700);
	cursor: default;
}

@media (hover: hover) {
	.element--disabled:hover {
		background-color: var(--secondary-800);
		color: var(--disable-700);
		cursor: default;
	}
}

.element--disabled.element--selected {
	background-color: var(--disable-700);
	color: var(--disable-900);
}

.element--exception {
	background-color: var(--jewel);
}

.series {
	padding: 3px;
	background-color: var(--secondary-800);
	color: var(--disable-400);
}

.element__number {
	padding-left: 2px;
	align-self: flex-start;
}

.element__name,
.element-preview__name,
.element-preview__symbol {
	align-self: center;
}

.border {
	border: 1px solid var(--primary-600);
	/* outline нужен чтобы внешние границы ячеек были толщиной 1+1=2px */
	outline: 1px solid var(--primary-600);
}

.period {
	color: var(--secondary-300);
	justify-content: center;
}

.group {
	color: var(--secondary-300);
	justify-content: center;
	align-items: center;
}

/* отступ между 7 и 8 строкой */
.gap {
	height: 1vh;
	grid-column: 1 / -1;
}

.selectBtn {
	margin-top: 1em;
	margin-bottom: 0.5em;
	min-width: 20em;
}

@media screen and (max-width: 1020px),
	screen and (max-height: 720px)
{
	.selected-element {
		visibility: hidden;
	}
}

@value sizes: '../../style/display.css';
@value mobile, tablet, laptop from sizes;

@media (max-height: tablet),
(min-width: mobile) and (max-width: laptop) {

	.table {
		--side: 3.2em;
		padding: 0.875em;
	}
	
	.selected-element {
		grid-column-gap: 1.5em;
		grid-row-gap: 0.8em;
	}

	.element-preview {
		padding: 0.6em 0;
	}

	.element-preview__number {
		margin: 0 0.6em;
	}

	.selected-element__name, .selected-element__number {
		gap: 0.25em;
	}

	.ammunition {
		gap: 0.6em;
	}

	.ammunition__img {
		height: 1.8em;
		width: 1.8em;
	}

	.selectBtn {
		min-width: 18em;
	}
}

@media (max-width: mobile), (max-height: mobile) {
	.table {
		--side: 2.5em;
		padding: 0.625em;
	}

	.bottom {
		padding: 0.625em;
	}

	.element__number {
		padding-left: 1px;
	}

	.selectBtn {
		margin-top: 0.5em;
		margin-bottom: 0;
		min-width: 14em;
	}
}