
button{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.13rem;
	border:none;
	cursor:pointer;
}

.button-icon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:1rem;
}

.button-text{
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 120%;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

.button-select-element{
	padding:0.56em;
	min-width:20.5em;
	padding: 0.2em;

}
.button-exit{
	background-color: var(--secondary-800) ;
	color: var(--primary-200);
	outline:  solid var(--primary-200) 1px;
	font-size:1rem;
	padding: 0.2em 0.4em;
	text-transform: uppercase;
}

.button-exit-position{
	position:absolute;
	left:1rem;
	bottom:1rem;
}
@media(hover: hover) {
	.button-exit:hover{
		color: var(--primary-100);
		box-shadow: var(--glow__button--light--l);
	}
}
.button-exit:active{
	color: var(--primary-100);
	color:var(--primary-900);
	background-color:var(--primary-400);
}

.button-primary{
	outline: solid var(--primary-400) 2px;
	color:var(--primary-900);
	background-color:var(--primary-400);
}

@media(hover: hover) {
	.button-primary:hover:not([disabled]) {
		outline: solid var(--primary-200) 2px; /* ? */
		background-color:var(--primary-200);
		box-shadow: var(--glow__button--light--l);
	}
}

.button-primary:active{
	color:var(--primary-900);
	outline: solid var(--primary-600) 2px; /* ? */
	background-color:var(--primary-600);
}
.button-primary:disabled{
	color:var(--disable-500);
	outline: solid var(--disable-900) 2px; /* ? */
	background-color:var(--disable-900);
}

