.button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	column-gap: .75em;
	padding: .75em 1.125em;
}

.icon {
	width: 2.5em;
}


/*=============================================
=                   Primary                   =
=============================================*/

/*----------  Muted  ----------*/

.button.primary.muted {
	background-color: var(--primary-300);
	color: var(--primary-900);
}

.button.primary.muted:disabled {
	background-color: var(--disable-800);
	color: var(--disable-600);
}

@media screen and (hover: hover) {
	.button.primary.muted:hover {
		background-color: var(--primary-100);
		color: var(--primary-800);
		box-shadow: var(--glow__button--light--m);
	}
}

.button.primary.muted:active {
	background-color: var(--primary-400);
	box-shadow: none;
}


/*=============================================
=                  Secondary                  =
=============================================*/

.button.secondary {
	border-width: 3px;
}


/*----------  Hover  ----------*/

@media screen and (hover: hover)  {

	.button.secondary.muted:hover {
		box-shadow: var(--glow__button--light--m);
		color: var(--secondary-50);
	}
	
	.button.secondary.bright:hover {
		box-shadow: var(--glow__button--primary--m);
		color: var(--primary-200);
	}

	.button.secondary.dark:hover {
		background-color: var(--disable-700);
		color: var(--primary-200);
	}

	.button.primary.muted:disabled:hover,
	.button.secondary.muted:disabled:hover,
	.button.secondary.bright:disabled:hover,
	.button.secondary.dark:disabled:hover {
		box-shadow: none;
		background-color: var(--disable-800);
		color: var(--disable-600);
	}
}


/*----------  Muted  ----------*/

.button.secondary.muted {
	border-style: solid;
	border-color: currentColor;
	background-color: transparent;
	color: var(--secondary-100);
}

.button.secondary.muted:active {
	box-shadow: none;
	color: var(--secondary-300);
}


/*----------  Bright  ----------*/

.button.secondary.bright {
	border-style: solid;
	border-color: currentColor;
	background-color: transparent;
	color: var(--primary-400);
}

.button.secondary.bright:active {
	box-shadow: none;
	color: var(--primary-600);
}


/*----------  Dark  ----------*/

.button.secondary.dark {
	background-color: var(--disable-800);
	color: var(--primary-400);
}

.button.secondary.dark:active {
	background-color: var(--disable-800);
	color: var(--primary-600);
}


/*--------  Disabled  --------*/

.button.secondary.muted:disabled,
.button.secondary.bright:disabled,
.button.secondary.dark:disabled {
	border: none;
	background-color: var(--disable-800);
	color: var(--disable-600);
}


/*=============================================
=                    Text                    =
=============================================*/

.text {
	text-align: left;
	word-wrap: break-word;
}


/*=============================================
=               Media Requests               =
=============================================*/

@value sizes: '../../../style/display.css';
@value mobile, tablet, laptop from sizes;

/* Tablet or Small Notebook */
@media (min-height: mobile) and (max-height: tablet), 
(min-width: mobile) and (max-width: laptop) {
	.button {
		padding: 0.625em 1em;
	}
	
	.icon {
		width: 2em;
	}

	.button.secondary {
		border-width: 2.8px;
	}
}

/* Smartphone */
@media (max-width: mobile), (max-height: mobile) {
	.button {
		padding: 0.5em 0.875em;
	}
	
	.icon {
		width: 1.8em;
	}

	.button.secondary {
		border-width: 2px;
	}
}