.button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	column-gap: .75em;
	padding: .75em 1.125em;
	white-space: pre-line;
	transition-duration: .2s;
	transition-property: color, border, background-color;
	transition-timing-function: ease-in-out;
	user-select: none;
}

.button.small {
	column-gap: .5em;
	padding: .4em .625em;
}

.icon {
	width: 2.5em;
}

.small .icon {
	width: 1.25em;
}


/*=============================================
=                   Primary                   =
=============================================*/

/*----------  Muted  ----------*/

.button.primary {
	background-color: var(--primary-300);
	color: var(--primary-900);
}

.button.primary:disabled {
	background-color: var(--disable-800);
	color: var(--disable-600);
}

@media screen and (hover: hover) {
	.button.primary:hover {
		box-shadow: var(--glow__button--light--m);
		background-color: var(--primary-100);
		color: var(--primary-800);
	}
}

.button.primary:active {
	box-shadow: none;
	background-color: var(--primary-400);
}


/*=============================================
=                  Secondary                  =
=============================================*/

.button.secondary {
	border-width: 2px;
}

.button.secondary.small {
	border-width: 1px;
	color: var(--primary-200);
}


/*----------  Hover  ----------*/

@media screen and (hover: hover)  {

	.button.secondary:hover {
		box-shadow: var(--glow__button--primary--m);
		color: var(--primary-200);
	}

	.button.tertiary:hover {
		background-color: var(--disable-700);
		color: var(--primary-200);
	}

	.button.primary:disabled:hover,
	.button.tertiary:disabled:hover {
		box-shadow: none;
		background-color: var(--disable-800);
		color: var(--disable-600);
	}

	.button.primary:disabled:hover,
	.button.secondary:disabled:hover,
	.button.tertiary:disabled:hover {
		border-color: var(--disable-600);
		box-shadow: none;
		color: var(--disable-600);
	}
}


/*----------  Secondary  ----------*/

.button.secondary {
	border-style: solid;
	border-color: currentColor;
	background-color: transparent;
	color: var(--primary-400);
}

.button.secondary:active {
	box-shadow: none;
	color: var(--primary-600);
}


/*----------  Tertiary  ----------*/

.button.tertiary {
	background-color: var(--disable-800);
	color: var(--primary-400);
}

.button.tertiary:active {
	background-color: var(--disable-800);
	color: var(--primary-600);
}


/*--------  Disabled  --------*/

.button.secondary:disabled  {
	border-color: var(--disable-600);
	color: var(--disable-600);
}

.button.tertiary:disabled {
	color: var(--disable-600);
}


/*=============================================
=                    Text                    =
=============================================*/

.text {
	text-align: left;
	word-wrap: break-word;
}


/*=============================================
=               Media Requests               =
=============================================*/

@value sizes: '../../../style/display.css';
@value mobile, tablet, laptop from sizes;

/* Tablet or Small Notebook */
@media (min-height: mobile) and (max-height: tablet), 
(min-width: mobile) and (max-width: laptop) {
	.button {
		padding: 0.625em 1em;
	}
	
	.icon {
		width: 2em;
	}

	.button.secondary {
		border-width: 1.5px;
	}
}

/* Smartphone */
@media (max-width: mobile), (max-height: mobile) {
	.button {
		padding: 0.5em 0.875em;
	}
	
	.icon {
		width: 1.8em;
	}

	.button.secondary {
		border-width: 1px;
	}
}