.button-start-mission{
	min-width: 5rem;
	padding: 0.75rem 1.5rem;
	flex-shrink: 0;
	fill:currentColor;
	user-select: none; 
}

@media screen and  (max-width:812px){
	.button-start-mission{
		min-width: 45px;
		height: 45px;
	}
	.button-start-mission>span{
		display: none;
	}
}