@value colors: '../../style/colors.css';
@value primaryDark, primary, dark from colors;

@value typography: '../../style/typography.css';
@value mediumWeight from typography;

/*кнопки главного меню и их состояния*/
.choose {
	margin: 0.4em 0;
	width: 14em;
	padding: 0.5em;
	outline: none;
	border: 3px solid primaryDark;
	background-color: transparent;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.2em;
	color: primary;
	font-size: 18px;
	font-weight: mediumWeight;
}

.choose:hover {
	border-color: primary;
	background-color: primary;
	color: dark;
}

.disabled {
	opacity: 0.4;
	margin: 0.4em 0;
	width: 14em;
	padding: 0.5em;
	outline: none;
	border: 3px solid primaryDark;
	background-color: transparent;
	cursor: default;
	text-align: center;
	letter-spacing: 0.2em;
	color: primary;
	font-size: 18px;
	font-weight: mediumWeight;
}

@media screen and (max-width:1300px) {
	.choose, .disabled {
		font-size: 16px;
	}
}