.box {
	position: relative;
	margin:0;
	min-width: 320px;
	height: 100vh;
	box-sizing: border-box;
	padding: 1rem;
	overflow: hidden;
}

.tab {
	--transition-time: 250ms;

	top: 0;
	margin:0;

	min-height: 0;
	min-width: 0;
	height: 100%;
	width: 100%;

	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	pointer-events: none;
	
}

.tab > * {
	pointer-events: auto;
}

.container {
	position: absolute;
	overflow: hidden;
	z-index: 0;
}

.relative {
	position: relative;
}

.normal {
	left: 0;
	visibility: visible;
	transition:
		left var(--transition-time) ease-out,
		visibility 0s linear;
}

.prev {
	left: -100%;
	visibility: hidden;
	transition:
		left var(--transition-time) ease-out,
		visibility 0s linear var(--transition-time);
}

.next {
	left: 100%;
	visibility: hidden;
	transition:
		left var(--transition-time) ease-out,
		visibility 0s linear var(--transition-time);
}


.closed {
	display: none;
}

.hidden {
	position: absolute;
	visibility: hidden;
}

.diagram {
	width: 1166px;
	height: 482px;
	width: 100%;
	height: 100vh;
	outline: none;
}

.filter {
	position: absolute;
	bottom: 5.5rem;
	right: 0;
	user-select: none;
}
