@value sizes: '../../style/display.css';
@value mobile, tablet, laptop from sizes;

.miniInfo {
	display: flex;
	align-items: center;
	column-gap: .75em;
	
	width: fit-content;
	padding: 1em;
	padding-left: .75em;

	/* box-shadow: var(--shadow__input); */
	background-color: var(--secondary-900);
	color: var(--secondary-100);
}

.icon {
	width: 1.8em;
}

.message {
	display: flex;
	flex-direction: column;
	row-gap: .125em;
}


/*=============================================
=               Media Requests               =
=============================================*/

/* Tablet or Small Notebook */
@media (min-height: mobile) and (max-height: tablet),
(min-width: mobile) and (max-width: laptop) {

	.miniInfo {
		column-gap: .5em;
		padding: .75em;
		padding-right: 1em;
	}
	
	.icon {
		width: 1.5em;
	}
}

/* Smartphone */
@media (max-width: mobile), (max-height: mobile) {

	.miniInfo {
		column-gap: .4em;
		padding: .5em .75em;
	}
	
	.icon {
		width: 1.5em;
	}
	
	.message {
		row-gap: 0;
	}
}
