
.shadow {
	box-shadow: var(--shadow__input);
}

.box {
	display: grid;
	--gap: 0.5em;
	column-gap: var(--gap);
	width: fit-content;
	height: fit-content;
	align-items: center;
	padding: 0.5em 0.75em;
	background-color: var(--secondary-900);
	color: var(--secondary-100);
}

.horizontal {
	grid-template:
		"icon value" 1fr
		"icon caption" min-content
		/ auto auto;
}

.vertical {
	grid-template:
		"caption caption" auto
		"icon value" auto
		/ auto auto;
}

.icon {
	grid-area: icon;
	width: 2.5em;
	justify-self: end;
}

.value {
	grid-area: value;
}

.caption {
	grid-area: caption;
}

.horizontal > .caption {
	padding-top: 2px;
}

.vertical > .caption {
	justify-self: center;
	padding-bottom: var(--gap);
}

@value sizes: '../../style/display.css';
@value mobile, tablet, laptop from sizes;

/* Tablet or Small Notebook */
@media (min-height: mobile) and (max-height: tablet),
(min-width: mobile) and (max-width: laptop) {

	.box {
		--gap: 0.425em;
		padding: 0.425em 0.625em;
	}
	
	.icon {
		width: 1.875em;
	}
}

/* Smartphone */
@media (max-width: mobile), (max-height: mobile) {

	.box {
		--gap: 0.3125em;
		padding: 0.3125em 0.5em;
	}
	
	.icon {
		width: 1.375em;
	}
}
