.icon {
	display: block;
	position: relative;
	flex-shrink: 0;
	min-width: 10px;
}

.icon::after {
	display: block;
	width: 100%;
	height: 0;
	padding-top: 100%;
	content: '';
}

.icon > svg {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	color: inherit;
}

.em {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	min-width: 10px;
}
