@value colors: '../../../style/colors.css';
@value primary-100, primary-300, primary-500, secondary-500, secondary-700, secondary-800, disable-400, disable-700, disable-900 from colors;

@value effects: '../../../style/effects.css';
@value  glow__button--light--m, glow__button--primary--m from effects;

.button {
	padding: 0;
	background-color: transparent;
	color: primary-300;
}

.button:active {
	color: primary-500;
}

.button:active svg {
	filter: none;
}

.button:disabled {
	color: disable-700;
}

/* --- Inversive --- */

.inversive {
	color: secondary-700;
}

.inversive:active {
	color: secondary-800;
}

.inversive:active svg {
	filter: none;
}

.inversive:disabled {
	color: disable-400;
}


/* --- With backing --- */

.backing {
	box-sizing: border-box;
	padding: .5em;
	background-color: secondary-700;
	color: primary-300;
}

.backing:active {
	background-color: secondary-700;
	color: primary-100;
}

.backing:disabled {
	background-color: disable-900;
	color: disable-700;
}



/*----------  Hover  ----------*/

@media screen and (hover: hover) {

	.button:hover {
		color: primary-100;
	}
	
	.button:hover svg {
		filter: drop-shadow( var(--glow__button--light--m) );
	}
	
	.button:disabled:hover svg {
		filter: none;
	}


	.inversive:hover {
		color: secondary-500;
	}
	
	.inversive:hover svg {
		filter: drop-shadow( var(--glow__button--primary--m) );
	}
	
	.inversive:disabled:hover svg {
		filter: none;
	}

	.backing:hover {
		background-color: secondary-500;
		color: primary-100;
	}
	
	.backing:hover svg {
		filter: none;
	}
}