.button {
	padding: 0;
	background-color: transparent;
	color: var(--primary-300);
}

.button:active {
	color: var(--primary-500);
}

.button:active svg {
	filter: none;
}

.button:disabled {
	color: var(--disable-700);
}

/* --- Inversive --- */

.inversive {
	color: var(--secondary-700);
}

.inversive:active {
	color: var(--secondary-800);
}

.inversive:active svg {
	filter: none;
}

.inversive:disabled {
	color: var(--disable-400);
}


/* --- With backing --- */

.backing {
	box-sizing: border-box;
	padding: .5em;
	background-color: var(--secondary-700);
	color: var(--primary-300);
}

.backing:active {
	background-color: var(--secondary-700);
	color: var(--primary-100);
}

.backing:disabled {
	background-color: var(--disable-900);
	color: var(--disable-700);
}



/*----------  Hover  ----------*/

@media screen and (hover: hover) {

	.button:hover {
		color: var(--primary-100);
	}
	
	.button:hover svg {
		filter: drop-shadow( var(--glow__button--light--m) );
	}
	
	.button:disabled:hover svg {
		filter: none;
	}


	.inversive:hover {
		color: var(--secondary-500);
	}
	
	.inversive:hover svg {
		filter: drop-shadow( var(--glow__button--primary--m) );
	}
	
	.inversive:disabled:hover svg {
		filter: none;
	}

	.backing:hover {
		background-color: var(--secondary-500);
		color: var(--primary-100);
	}
	
	.backing:hover svg {
		filter: none;
	}
}