.tab {
	background-color: var(--disable-700);
}

.tab > input {
	display: none;
}

.titleBlock {
	display: flex;
	align-items: center;
	column-gap: .3em;
	padding: .25em;
	padding-left: .5em;
	cursor: pointer;
}

.title {
	display: block;
	width: 1.56em;
	text-align: center;
}

.value {
	box-sizing: border-box;
	display: block;
	width: 3.625em;
	height: 1.688em;
	padding: .25em;
	border-bottom: 1px solid transparent;
	background-color: var(--disable-600);
	text-align: center;
	color: var(--secondary-50);
}

.titleBlock.undefined {
	background: linear-gradient(315deg, var(--disable-700) 50%, var(--disable-700) 90%, var(--error-400) 90%, var(--error-400) 100%);
}

.tab :checked + .titleBlock {
	background: var(--secondary-900);
	color: primary-400;
}

.tab :checked + .titleBlock .value {
	border-color: primary-400;
	background-color: var(--secondary-800);
	color: var(--secondary-50);
}

/* - Disabled - */
:disabled + .titleBlock {
	background: var(--disable-800);
	color: var(--disable-500);
}

:disabled + .titleBlock > .value {
	background: var(--disable-800);
	color: var(--disable-500);
}

/* - Invalid - */
.tab.invalid .titleBlock {
	background: var(--error-800);
	color: var(--error-100);
}

.tab.invalid .value {
	background: var(--error-700);
	color: var(--error-50);
}

.tab.invalid :checked + .titleBlock {
	background: var(--secondary-900);
	color: primary-400;
}

.tab.invalid :checked + .titleBlock > .value {
	background: var(--error-900);
	color: var(--error-50);
}



/* --- Body --- */

ul.body {
	box-sizing: border-box;
	display: none;
	position: absolute;
	left: 0;
	justify-content: center;
	column-gap: .25em;

	opacity: 0;
	margin: 0;
	width: 100%;
	height: 4.5em;
	padding: .75em 1.25em;

	box-shadow: var(--shadow__input);
	background-color: var(--secondary-900);
	list-style: none;
	transition: opacity .2s ease .5s;
}

.tab > :checked ~ .body {
	display: flex;
	opacity: 1;
}

.toggleBtn {
	flex-grow: 1;
}


/*=============================================
=                    Text                    =
=============================================*/

.titleText {
	composes: text from '../../../style/typography.css';
	composes: text-m-normal from '../../../style/typography.css';
}

.titleSubText {
	composes: text from '../../../style/typography.css';
	composes: text-m-normal from '../../../style/typography.css';
}

.valueText {
	composes: text from '../../../style/typography.css';
	composes: text-b-medium from '../../../style/typography.css';
}