/* @value glow: 0px 0px 13px rgba (81, 207, 21, 0.5), 2px 4px 5px rgba (0, 0, 0, 0.15);
@value weakGlow: 0px 0px 5px rgba (81, 207, 21, 0.4), 2px 4px 4px rgba (0, 0, 0, 0.1);
@value highGlow: 0px 0px 2px rgba (81, 207, 21, 1), 0px 4px 4px rgba (0, 0, 0, 0.25);
@value lightGlow: 0px 0px 10px rgba (150, 194, 175, 0.2);
@value redGlow: 0px 0px 13px rgba (192, 63, 55, 0.5), 2px 4px 5px rgba (0, 0, 0, 0.15);
@value shade: 0px 0px 10px rgba (150, 194, 175, 0.2), 3px 6px 10px rgba (0, 0, 0, 0.7);
@value miniShadow: 2px 4px 4px rgba (0, 0, 0, 0.15);

@value weakGlowText: 2px 4px 4px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(81, 207, 21, 0.4);
*/



@value checkPattern: linear-gradient( rgba(255,255,255, 0) 2.9em, rgba(0, 143, 71, .15) 3em) 0 0, linear-gradient( 90deg, rgba(255,255,255, 0) 2.9em, rgba(0, 143, 71, .15) 3em) 0 0;

@value shadow__button-text: 0px 4px 4px rgba(0, 0, 0, 0.25);
@value shadow__input: 2px 2px 3px rgba(5, 20, 13, 0.4);
@value shadow__filter: 0px 0px 10px rgba(150, 194, 175, 0.2), 3px 6px 10px rgba(0, 0, 0, 0.4);

@value glow__diagram-selection-1: 0px 0px 8px rgba(241, 255, 252, 1);
@value glow__diagram-selection-2: 0px 0px 3px rgba(231, 255, 231, 1);
@value glow__arrow-selection-1: 0px 0px 6px rgba(182, 243, 229, 1);
@value glow__arrow-selection-2: 0px 0px 4px rgba(232, 255, 245, 1);
@value glow__arrow-selection--error-1: 0px 0px 10px rgba(255, 89, 89, 1);
@value glow__arrow-selection--error-2: 0px 0px 4px rgba(255, 185, 185, 0.5);

@value glow__button--primary--l: 0px 0px 20px rgba(78, 164, 72, 0.4);
@value glow__button--primary--m: 0px 0px 10px rgba(78, 164, 72, 0.5);
@value glow__button--light--l: 0px 0px 25px rgba(191, 239, 189, 0.4);
@value glow__button--light--m: 0px 0px 10px rgba(219, 243, 237, 0.4);
@value glow__button--error--normal: 0px 0px 8px rgba(218, 78, 78, 0.7);
@value glow__button--error--light: 0px 0px 10px rgba(255, 153, 153, 0.7);



.test {
	--checkPattern: linear-gradient( rgba(255,255,255, 0) 2.9em, rgba(0, 143, 71, .08) 3em) 0 0, linear-gradient( 90deg, rgba(255,255,255, 0) 2.9em, rgba(0, 143, 71, .08) 3em) 0 0;


	--shadow__button-text: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--shadow__input: 2px 2px 3px rgba(5, 20, 13, 0.4);
	--shadow__filter: 0px 0px 10px rgba(150, 194, 175, 0.2), 3px 6px 10px rgba(0, 0, 0, 0.4);

	--glow__diagram-selection: 0px 0px 8px rgba(241, 255, 252, 1), 0px 0px 3px rgba(231, 255, 231, 1);
	--glow__arrow-selection: 0px 0px 6px rgba(182, 243, 229, 1), 0px 0px 4px rgba(232, 255, 245, 1);
	--glow__arrow-selection--error: 0px 0px 10px rgba(255, 89, 89, 1), 0px 0px 4px rgba(255, 185, 185, 0.5);

	--glow__button--primary--l: 0px 0px 20px rgba(78, 164, 72, 0.4);
	--glow__button--primary--m: 0px 0px 10px rgba(78, 164, 72, 0.5);
	--glow__button--light--l: 0px 0px 25px rgba(191, 239, 189, 0.4);
	--glow__button--light--m: 0px 0px 10px rgba(219, 243, 237, 0.4);
	--glow__button--error--normal: 0px 0px 8px rgba(218, 78, 78, 0.7);
	--glow__button--error--light: 0px 0px 10px rgba(255, 153, 153, 0.7);
}