/* Стили для body */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}

body {
	background: var(--checkPattern);
	background-color: #1E2C26;
	background-size: 3em 3em;
	color: var(--secondary-100);
}

@media screen and (max-height: 375px) and (max-width:812px) {
	body {
		background: none;
		background-color: var(--secondary-800);
	}
}

@media screen and (max-height: 812px) and (max-width:375px) {
	body {
		background: none;
		background-color: var(--secondary-800);
	}
}


/* Дизайн полос прокрутки в chrome и opera */

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: var(--disable-500);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: var(--primary-200);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-100);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--primary-300);
}

::-webkit-scrollbar-corner {
	background: transparent;
}