@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Prompt:wght@500&display=swap');


html {
	--primary-font: 'Montserrat', sans-serif;
	--secondary-font: 'Prompt', sans-serif;
}



/*----------  Headers  ----------*/

.header {
	text-transform: uppercase;
	line-height: 120%;
	font-family: var(--primary-font);
	font-weight: bold;
	font-style: normal;
}

.header-1 {
	composes: header;
	letter-spacing: 0.02em;
	font-size: 3.75em;
}

.header-2 {
	composes: header;
	letter-spacing: 0.02em;
	font-size: 3em;
}

.header-3 {
	composes: header;
	letter-spacing: 0.05em;
	font-size: 1.5em;
}

.header-4 {
	composes: header;
	letter-spacing: 0.05em;
	font-size: 1.12em;
}


/* --- Large Headers --- */

.large-header {
	text-transform: uppercase;
	line-height: 120%;
	font-family: var(--primary-font);
	font-weight: normal;
	font-style: normal;
}

.large-header-1 {
	composes: large-header;
	letter-spacing: 0.04em;
	font-size: 3.75em;
}

.large-header-2 {
	composes: large-header;
	letter-spacing: 0.05em;
	font-size: 3em;
}



/*----------  Text  ----------*/

.text {
	line-height: 120%;
	font-family: var(--primary-font);
	font-weight: bold;
	font-style: normal;
}

.text-r-large {
	composes: text;
	line-height: 100%;
	letter-spacing: 0.1em;
	font-size: 3em;
	font-weight: normal;
}

.text-b-big {
	composes: text;
	letter-spacing: 0em;
	font-size: 1.5em;
}

.text-b-normal {
	composes: text;
	letter-spacing: 0.05em;
	font-size: 1em;
}

.text-m-normal {
	composes: text;
	letter-spacing: 0.05em;
	font-size: 1em;
	font-weight: 500;
}

.text-b-small {
	composes: text;
	letter-spacing: 0.05em;
	font-size: 0.88em;
}

.text-m-small {
	composes: text;
	letter-spacing: 0.05em;
	font-size: 0.88em;
	font-weight: 500;
}

.text-b-tiny {
	composes: text;
	letter-spacing: 0.08em;
	font-size: 0.62em;
}

.text-m-tiny {
	composes: text;
	letter-spacing: 0.08em;
	font-size: 0.62em;
	font-weight: 500;
}



/*----------  Long Text  ----------*/

.long-text {
	line-height: 140%;
	font-family: var(--secondary-font);
	font-weight: 500;
	font-style: normal;
}

.long-text-m-medium {
	composes: long-text;
	font-size: 1.25em;
}

.long-text-m-normal {
	composes: long-text;
	letter-spacing: 0.05em;
	font-size: 1em;
}

.long-text-m-small {
	composes: long-text;
	letter-spacing: 0.05em;
	font-size: 0.88em;
}



/*----------  Buttons  ----------*/

.button {
	text-transform: uppercase;
	line-height: 120%;
	font-family: var(--primary-font);
	font-weight: bold;
	font-style: normal;
}

.button-large {
	composes: button;
	letter-spacing: 0.05em;
	font-size: 1.88em;
}

.button-big {
	composes: button;
	letter-spacing: 0.05em;
	font-size: 1.5em;
}

.button-medium {
	composes: button;
	letter-spacing: 0.05em;
	font-size: 1.25em;
}

.button-normal {
	composes: button;
	letter-spacing: 0.08em;
	font-size: 1em;
}

.button-small {
	composes: button;
	letter-spacing: 0.08em;
	font-size: 0.88em;
}

.button-tiny {
	composes: button;
	letter-spacing: 0.08em;
	font-size: 0.62em;
}



/*----------  Diagram  ----------*/

.chemical-element {
	line-height: 100%;
	font-family: var(--primary-font);
	font-size: 1.75em;
	font-weight: bold;
	font-style: normal;
}

.element-weight {
	line-height: 120%;
	letter-spacing: 0.08em;
	font-family: var(--primary-font);
	font-size: 0.5em;
	font-weight: 500;
	font-style: normal;
}





















@value lineHeight_M: 1.5;
@value wordSpacing_M: 0.2em;
@value letterSpacing_M: 0.2em;

@value lightWeight: 300;
@value mediumWeight: 500;
@value boldWeight: 700;


.regularBold {
	line-height: 120%;
	letter-spacing: 0.135em;
	font-family: Montserrat;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
}

.h3 {
	line-height: 120%;
	letter-spacing: 0.135em;
	font-size: 1.125em;
	font-weight: bold;
}





.extraLargeText {
	letter-spacing: 0.2em;
	font-size: 48px;
}

.largeText {
	font-size: 24px;
}

.mediumText {
	font-size: 16px;
}

@media screen and (max-width:1300px) {
	.extraLargeText {
		font-size: 38px;
	}

	.largeText {
		font-size: 20px;
	}
}

.centered {
	text-align: center;
}

.light {
	font-weight: 300;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}

.uppercase {
	text-transform: uppercase;
}