html .ability {
	color: var(--corn);
}

@media screen and (hover: hover) {
	html .ability:hover {
		color: var(--corn);
	}
}

html .ability:active {
	color: var(--corn);
}

html .small {
	height: 2.25em;
	width: 2.25em;
	padding: 0.5em;
	box-shadow: var(--shadow__input);
}

html .middle {
	height: 3.5em;
	width: 3.5em;
	padding: 0.75em;
	box-shadow: var(--shadow__input);
}

@value sizes: '../../style/display.css';
@value mobile, tablet, laptop from sizes;

@media (min-height: mobile) and (max-height: tablet),
(min-width: mobile) and (max-width: laptop) {

	html .middle {
		height: 3em;
		width: 3em;
		padding: 0.625em;
	}
}

@media (max-width: mobile), (max-height: mobile) {

	html .middle {
		height: 2.5em;
		width: 2.5em;
		padding: 0.5em;
	}

	html .small {
		height: 1.875em;
		width: 1.875em;
		padding: 0.4em;
	}
}