/*все кнопки-иконки интерфейса*/
.interface-icon-button {  /*icon-interface*/
	min-width: 3.5rem;
	min-height: 3.5rem;
	padding: 1rem;
	outline: none;
	box-shadow: var(--box-shadow-input);
}

/*цвета конопок-иконок интерфейса*/
.icon-message {
	background-color: var(--secondary-700) ;
}

.icon-info {
	background-color: var(--secondary-900) ;
}

/*характереистики иконки элемента в левом меню*/
.icon-element {
	outline:  solid var(--secondary-100) 1px;
	background-color:  var(--secondary-900) ;
	color: var(--secondary-100);
}

/*скрытие выбранного элемента при больших экранах*/
.interface__function__element {
	display: none;
}

/*расположение характеристик время/точность слева для маленьких экранов*/
.left-mini-info-list {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 0.5rem;
}

/*блок характеристика*/
.move-info-wrap {
	display: flex;
	align-items: center;
	height: min-content;
	padding: 0.5rem 1rem ;
	background-color: var(--secondary-900);
	gap: 0.8rem;
}
.move-target {
    margin: 0 4.5rem;
}

/*скрытие левого блока характеристик при больших экранах*/
.move-info-vertical {
	display: none;
}

.move-info {
	display: flex;
}

/*отступы для центрирования игроков*/
.move-number {
	margin-right: 1rem;
}




.button-exit-position {
	position: absolute;
	bottom: 0;
	left: 0;
}


@media screen and  (max-width: 1024px) {

	/* переместить иконки хода */
	.move-target, .move-info {
		display: none;
	}
	.move-info-vertical {
		display: flex;
	}
}

@media screen and  (max-width: 812px) {
	.interface__function__element {
		display: block;
	}
}

@media screen and (max-height: 375px) and (max-width: 812px) {
	.interface-exit {
		justify-content: space-between; 
	}

}

@media screen and (max-width: 600px) {
	.interface-exit {
		box-sizing: border-box;
	}

}
@media screen and (max-width: 520px) {

	.icon-tiny {
		width: 14px;
		height: 14px;
	}
}
