.flex-centered {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* стрелки для переключения вкладок вправо/влево */
.left {
	position: fixed;
	top: 50%;
	left: 1em;
	z-index: 100;
}

.right {
	position: fixed;
	top: 50%;
	right: 1em;
	z-index: 100;
}

/* иконка вправо — это перевёрнутая иконка влево */
	.right svg {
		transform: rotate(180deg);
	}

/* размеры иконок */
.small {
	height: 2em;
	width: 2em;
}

.tiny {
	height: 1.5em;
	width: 1.5em;
}

/* иконки навигации */
.paging {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-600);
	background-color: transparent;
	pointer-events: all;
}

.selected {
	color: var(--primary-200);
}

@media(hover: hover) {
	.paging:hover {
		color: var(--primary-400);
	}

		.paging:hover svg {
			filter: drop-shadow( var(--glow__button--light--m) );
		}

	.selected:hover {
		color: var(--primary-100);
	}
}

.paging:active {
	color: var(--primary-200);
}

.selected:active {
	color: var(--primary-300);
}

.paging:disabled,
.selected:disabled {
	color: var(--disable-700);
}

.nav {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display:flex;
	gap: 3.75em;
	justify-self: center;
	justify-content: center;
	pointer-events: none;
}


@value sizes: '../../style/display.css';
@value mobile, tablet, laptop from sizes;

@media (min-height: mobile) and (max-height: tablet),
(min-width: mobile) and (max-width: laptop) {

	.left {
		left: .75em;
	}
	.right {
		right: .75em;
	}

	.small {
		height: 1.75em;
		width: 1.75em;
	}
	.tiny {
		height: 1.25em;
		width: 1.25em;
	}

	.nav {
		gap: 3.125em;
	}
}

@media (max-width: mobile), (max-height: mobile) {

	.left {
		left: .5em;
	}
	.right {
		right: .5em;
	}

	.small {
		height: 1.375em;
		width: 1.375em;
	}
	.tiny {
		height: 1.125em;
		width: 1.125em;
	}

	.nav {
		gap: 2.375em;
	}
}

/* при малой высоте экрана кнопки вправо/влево пермещаются вниз экрана */
@media screen and (max-height: mobile) {
	.left {
		top: auto;
		left: auto;
		bottom: 0.5em;
		right: 3em;
	}

	.right {
		top: auto;
		right: 0.75em;
		bottom: 0.5em;
	}
}