@value sizes: '../../style/display.css';
@value mobile, laptop from sizes;

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: linear-gradient( rgba(255,255,255, 0) 2.9em, rgba(0, 143, 71, .15) 3em) 0 0, linear-gradient(
90deg
, rgba(255,255,255, 0) 2.9em, rgba(0, 143, 71, .15) 3em) 0 0;
	background-color: #1E2C26;
	background-size: 3em 3em;
	position: relative;
}


.diagram {
	height: 100%;
	width: 100%;
}

.diagram:focus {
	outline: none;
}

.filter {
	position: absolute;
	bottom: 3em;
	right: calc( 50% - 546px );
	justify-content: center;
}

.taskCounter {
	margin-top: 1em;
}

.clock {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4em;
}

.processInfo {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	position: absolute;
	top: 2em;
}

@media (max-width: 1400px) {
	.processInfo {
		font-size: 12px;
	}
}

@media (min-width: mobile) and (max-width: laptop) {
	.filter {
		bottom: 1em;
		right: calc( 50% - 452px );
	}
}

@media (max-width: 904px) {
	.filter {
		justify-content: flex-end;
		bottom: 1em;
		right: 0;
	}

}