body {
	margin: auto;
	padding: 1em;
	background: var(--checkPattern);
	background-color: var(--secondary-800);
	background-size: 3em 3em;
}

::-webkit-scrollbar {
	width: .88em;
	background-color: var(--secondary-900);
}

::-webkit-scrollbar-thumb {
	background-color: var(--secondary-700);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--secondary-500);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--primary-700);
}

button {
	font-size: inherit;
}

section {
	margin-bottom: 8em;
}

section.buttons {
	display: flex;
	flex-direction: column;
	padding: 20px;
	row-gap: 4em;
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: 3em;
}

.column {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.2em;
}

section.buttons > .row > .column {
	width: 300px;
}


section.buttons button {
	width: 100%;
}

section.buttons button.m {
	width: 80%;
}

section.buttons button.s {
	width: 60%;
}


.default-button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	padding: 0.625em;
}


/*=============================================
=                   Button                   =
=============================================*/


.default-button.primary {
	box-sizing: border-box;
	border: none;
	background-color: var(--primary-400);
	color: var(--primary-900);
}

.default-button.primary:hover {
	box-shadow: var(--glow__button--light--l);
	background-color: var(--primary-200);
}

.default-button.primary:active {
	box-shadow: none;
	background-color: var(--primary-600);
}

.default-button.primary:disabled {
	background-color: var(--disable-900);
	color: var(--disable-500);
}

.default-button.primary:disabled:hover {
	box-shadow: none;
}


.default-button.secondary {
	border: 2px solid currentColor;
	background-color: transparent;
	color: var(--primary-400);
}

.default-button.secondary:hover {
	border-color: var(--primary-200);
	box-shadow: var(--glow__button--primary--l);
	background-color: var(--secondary-900);
}

.default-button.secondary:active {
	border-color: currentColor;
	box-shadow: none;
	background-color: transparent;
	color: var(--primary-600);
}

.default-button.secondary:disabled {
	border: none;
	background-color: var(--disable-800);
	color: var(--disable-500);
}

.default-button.secondary:disabled:hover {
	box-shadow: none;
}

.default-button.secondary > span {
	text-shadow: var(--shadow__button-text);
}

.default-button.secondary:disabled > span {
	text-shadow: none;
}



/*=============================================
=              Button With Icon              =
=============================================*/


.button-with-icon {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	column-gap: 1em;
	padding: 1em 1.5em;
}

.button-with-icon > span {
	text-align: left;
}


.button-with-icon.l > .icon {
	width: 3em;
}

.button-with-icon.m {
	padding: .75em 1.25em;
}

.button-with-icon.m > .icon {
	width: 2.5em;
}

.button-with-icon.s {
	padding: .5em 1em;
}

.button-with-icon.s > .icon {
	width: 2em;
}


.button-with-icon.primary.muted {
	background-color: var(--secondary-100);
	color: var(--secondary-700);
}

.button-with-icon.primary.muted:hover {
	box-shadow: var(--glow__button--light--m);
	color: var(--secondary-500);
}

.button-with-icon.primary.muted:active {
	box-shadow: none;
	background-color: var(--secondary-300);
	color: var(--secondary-700);
}



.button-with-icon.primary.muted:disabled,
.button-with-icon.secondary.muted:disabled,
.button-with-icon.secondary.bright:disabled,
.button-with-icon.secondary.dark:disabled {
	border: none;
	background-color: var(--disable-800);
	color: var(--disable-600);
}

.button-with-icon.primary.muted:disabled:hover,
.button-with-icon.secondary.muted:disabled:hover,
.button-with-icon.secondary.bright:disabled:hover,
.button-with-icon.secondary.dark:disabled:hover {
	box-shadow: none;
	background-color: var(--disable-800);
	color: var(--disable-600);
}



.button-with-icon.secondary.muted {
	border-style: solid;
	border-color: currentColor;
	background-color: transparent;
	color: var(--secondary-100);
}

.button-with-icon.secondary.l {
	border-width: 3px;
}

.button-with-icon.secondary.m {
	border-width: 2.8px;
}

.button-with-icon.secondary.s {
	border-width: 2px;
}

.button-with-icon.secondary.muted:hover {
	box-shadow: var(--glow__button--light--m);
	color: var(--secondary-50);
}

.button-with-icon.secondary.muted:active {
	box-shadow: none;
	color: var(--secondary-300);
}



.button-with-icon.secondary.bright {
	border-style: solid;
	border-color: currentColor;
	background-color: transparent;
	color: var(--primary-400);
}

.button-with-icon.secondary.bright:hover {
	box-shadow: var(--glow__button--primary--m);
	color: var(--primary-200);
}

.button-with-icon.secondary.bright:active {
	box-shadow: none;
	color: var(--primary-600);
}



.button-with-icon.secondary.dark {
	background-color: var(--disable-800);
	color: var(--primary-400);
}

.button-with-icon.secondary.dark:hover {
	background-color: var(--disable-700);
	color: var(--primary-200);
}

.button-with-icon.secondary.dark:active {
	background-color: var(--disable-800);
	color: var(--primary-600);
}



/*=============================================
=                    Icon                     =
=============================================*/


div.icon-box {
	color: var(--primary-400);
}

div.icon-box--100 {
	width: 60px;
	height: 60px;
}

div.icon-box--30 {
	width: 30px;
	height: 30px;
}

/* -------------------------- */

.icon {
	display: block;
	position: relative;
	flex-shrink: 0;
	min-width: 10px;
}

.icon::after {
	display: block;
	width: 100%;
	height: 0;
	padding-top: 100%;
	content: '';
}

.icon > svg {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	color: inherit;
}




/*=============================================
=                 Icon Button                 =
=============================================*/

section.buttons > .row > .icon-buttons {
	flex-direction: row;
	flex-wrap: wrap;
}

div.icon-buttons button.icon-button {
	width: 40px;
}

.light-bg {
	background-color: var(--secondary-100);
}

div.icon-buttons > .light-bg {
	display: inline-flex;
	padding: 1em;
	gap: 1em;
}
/* -------------------------- */

.icon-button > .icon {
	width: 100%;
}

/* --- Default --- */

.icon-button {
	padding: 0;
	background-color: transparent;
	color: var(--secondary-100);
}

.icon-button:hover {
	color: var(--secondary-200);
}

.icon-button:hover svg {
	filter: drop-shadow( var(--glow__button--light--m) );
}

.icon-button:active {
	color: var(--secondary-300);
}

.icon-button:active svg {
	filter: none;
}

.icon-button:disabled {
	color: var(--disable-700);
}

.icon-button:disabled:hover svg {
	filter: none;
}

/* --- Inversive --- */

.icon-button.inversive {
	color: var(--secondary-700);
}

.icon-button.inversive:hover {
	color: var(--secondary-500);
}

.icon-button.inversive:hover svg {
	filter: drop-shadow( var(--glow__button--primary--m) );
}

.icon-button.inversive:active {
	color: var(--secondary-800);
}

.icon-button.inversive:active svg {
	filter: none;
}

.icon-button.inversive:disabled {
	color: var(--disable-400);
}

.icon-button.inversive:disabled:hover svg {
	filter: none;
}


/* --- With backing --- */

.icon-button.backing {
	box-sizing: border-box;
	padding: .5em;
	background-color: var(--secondary-600);
	color: var(--secondary-100);
}

.icon-button.backing:hover {
	background-color: var(--secondary-500);
	color: var(--secondary-50);
}

.icon-button.backing:hover svg {
	filter: none;
}

.icon-button.backing:active {
	background-color: var(--secondary-700);
	color: var(--secondary-100);
}

.icon-button.backing:disabled {
	background-color: var(--disable-900);
	color: var(--disable-700);
}




/*=============================================
=                Game Progress                =
=============================================*/

section.progress > .row > .column {
	width: 25em;
}

.game-progress {
	width: 20em;
}

/* -------------------------- */

.game-progress {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-grow: 1;
	column-gap: .75em;
	padding: .5em;
	padding-right: 1em;
	color: var(--secondary-100);
}

.game-progress > .progress {
	display: flex;
	align-items: flex-end;
	flex-grow: 1;
	column-gap: 1.5em;
}

.game-progress .scheme {
	display: flex;
	flex-basis: 30px;
	flex-direction: column;
	flex-grow: 1;
	row-gap: .5em;
}

.game-progress .progress-bar {
	min-width: 30px;
	height: .5em;
	overflow: hidden;
	border-radius: .25em;
	background-color: var(--disable-500);
}

.game-progress .level-number {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	width: 2em;
	height: 2em;
	border-radius: 1em;
	background-color: var(--disable-600);
	color: var(--secondary-50);
}

.game-progress .progress-bar__infill {
	width: 35%;
	height: 100%;
	background-color: var(--primary-400);
	transition: width 1s ease-out 0;
}

.game-progress .progress-numbers {
	height: 1em;
}



.game-progress.s .level-number {
	width: 1.75em;
	height: 1.75em;
}

.game-progress.s .progress {
	column-gap: 1em;
}

.game-progress.s .scheme {
	row-gap: .375em;
}

.game-progress.s .progress-bar {
	height: .375em;
}




/*=============================================
=                Modal Window                =
=============================================*/

body {
	position: relative;
}


aside.modal-window {
	box-sizing: border-box;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100vw;
	min-height: max(calc(100%-2em), 100vh);
	padding: 2em;
	overflow-y: auto;

	background-color: rgba(30, 44, 38, 0.9);
	backdrop-filter: blur(4px);
}

aside.modal-window[closed=true] {
	display: none;
}


aside.modal-window .window {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	margin: 0;

	max-width: 50em;
	min-height: 25em;
	padding: 2em;

	box-shadow: var(--glow__button--light--m);
	background-color: var(--secondary-900);
	color: var(--secondary-100);
}

header.window__header {
	display: flex;
	flex-grow: 0;
	justify-content: space-between;
	margin-bottom: 1.5em;
}

.window__content {
	flex-grow: 1;
}

footer.window__actions {
	display: flex;
	flex-direction: row-reverse;
	column-gap: 1em;
	margin-top: 1.5em;
}

.window__action-btn {
	width: 18em;
}

.window.s .window__action-btn {
	width: 12.5em;
}

aside.modal-window .window.m {
	min-height: 20em;
}

aside.modal-window .window.s {
	min-height: 17em;
}

.window.s > header.window__header {
	margin-bottom: 1em;
}

aside.modal-window > .window.notification {
	align-items: center;
	min-height: 15em;
	box-shadow: var(--glow__button--primary--m);
}


/*----------  Progress Modal Window  ----------*/

aside.modal-window > .window.progress {
	width: min(37em, 100% );
	min-height: auto;
	padding-bottom: 4em;
	box-shadow: var(--glow__button--primary--m);
}

.window.progress > .window__header {
	justify-content: center;
}

.window.progress.win > .window__header {
	color: var(--primary-200);
}

.window.progress > .window__content{
	width: 100%;
}

.window.progress .game-progress {
	width: 100%;
}


/*=============================================
=                    Task                    =
=============================================*/

.tasks {
	align-items: flex-start;
}

/* -------------------------- */

.task {
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	column-gap: 1em;
	max-width: 38em;
	padding: 1em;
	padding-right: 0;
	box-shadow: var(--shadow__input);
	background-color: var(--secondary-900);
	transition: width 1.5s ease;
	color: var(--secondary-100);
}

.task__info-icon {
	width: 2.5em;
}

.task__content {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
	column-gap: 1.5em;
	animation: open-task 1s ease forwards;
}

.task__description {
	display: flex;
	flex-direction: column;
	row-gap: .5em;
}

.task__close-btn {
	margin-right: 1.5em;
	width: 2em;
}

.task input.task__checkbox {
	display: none;
}

.task > .task__checkbox:checked ~ .task__content {
	animation: close-task 1s ease forwards;
}



.task.m {
	column-gap: .75em;
	padding: .75em;
	padding-right: 0;
}

.task.m .task__content {
	column-gap: .75em;
}

.task.m .task__info-icon {
	width: 2em;
}

.task.m .task__description {
	row-gap: .25em;
}

.task.m .task__close-btn {
	margin-right: 1em;
	width: 1.7em;
}




.task.s {
	column-gap: .5em;
	padding: .5em;
	padding-right: 0;
}

.task.s .task__content {
	column-gap: .5em;
}

.task.s .task__info-icon {
	width: 1.75em;
}

.task.s .task__description {
	row-gap: .25em;
}

.task.s .task__close-btn {
	margin-right: .75em;
	width: 1.5em;
}



@keyframes open-task {
	from {
		opacity: 0;
		font-size: 0;
	}

	50% {
		opacity: 0;
		font-size: inherit;
	}

	to {
		opacity: 1;
	}
}

@keyframes close-task {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
		font-size: inherit;
	}

	to {
		opacity: 0;
		font-size: 0;
	}
}




/*=============================================
=                  Mini Info                  =
=============================================*/

.mini-infos {
	align-items: flex-start;
}

/* -------------------------- */

.mini-info {
	display: flex;
	align-items: center;
	column-gap: 1em;
	padding: 1em;
	padding-left: .75em;
	background-color: var(--secondary-900);
	color: var(--secondary-100);
}

.mini-info .icon {
	width: 2.25em;
}

.mini-info__message {
	display: flex;
	flex-direction: column;
	row-gap: .125em;
}

.mini-info.m {
	column-gap: .75em;
	padding: .75em;
}

.mini-info.m .icon {
	width: 2em;
}

.mini-info.s {
	column-gap: .5em;
	padding: .5em .75em;
}

.mini-info.s .icon {
	width: 1.75em;
}

.mini-info.s > .mini-info__message {
	row-gap: 0;
}




/*=============================================
=            Mini Diagram Filter            =
=============================================*/



/* -------------------------- */

.filter {
	position: relative;
	margin: 0;
	padding: 0;
}

.filter__tabs {
	display: flex;
	column-gap: .125em;
	box-shadow: var(--shadow__input);
	background-color: var(--secondary-900);
	color: var(--secondary-100);
}

/* --- Tab --- */

.filter__tab {
	background-color: var(--disable-800);
}

.filter__tab > input {
	display: none;
}

.filter__tab-title {
	display: flex;
	align-items: center;
	column-gap: .3em;
	padding: .25em;
	padding-left: .5em;
	cursor: pointer;
}

.filter__tab-name {
	display: block;
	width: 1.56em;
	text-align: center;
}

.filter__tab-value {
	box-sizing: border-box;
	display: block;
	width: 3.625em;
	height: 1.688em;
	padding: .25em;
	border-bottom: 1px solid transparent;
	background-color: var(--disable-700);
	text-align: center;
	color: var(--secondary-50);
}

.filter__tab-title.undefined {
	background: linear-gradient(315deg, var(--disable-800) 50%, var(--disable-800) 90%, var(--secondary-300) 90%, var(--secondary-300) 100%);
}

.filter__tab :checked + .filter__tab-title {
	background: var(--secondary-900);
	color: var(--primary-400);
}

.filter__tab :checked + .filter__tab-title .filter__tab-value {
	border-color: var(--primary-400);
	background-color: var(--secondary-800);
	color: var(--secondary-50);
}

/* - Disabled - */
:disabled + .filter__tab-title {
	background: var(--disable-800);
	color: var(--disable-500);
}

:disabled + .filter__tab-title > .filter__tab-value {
	background: var(--disable-800);
	color: var(--disable-500);
}

/* - Invalid - */
.filter__tab.invalid .filter__tab-title {
	background: var(--error-800);
	color: var(--error-100);
}

.filter__tab.invalid .filter__tab-value {
	background: var(--error-700);
	color: var(--error-50);
}

.filter__tab.invalid :checked + .filter__tab-title {
	background: var(--secondary-900);
	color: var(--primary-400);
}

.filter__tab.invalid :checked + .filter__tab-title > .filter__tab-value {
	background: var(--error-900);
	color: var(--error-50);
}



/* --- Body --- */

ul.filter__body {
	box-sizing: border-box;
	display: none;
	position: absolute;
	left: 0;
	justify-content: center;
	column-gap: .25em;
	visibility: hidden;
	opacity: 0;
	margin: 0;
	width: 100%;
	padding: 0;
	padding: 1.25em 1.25em .75em;
	box-shadow: var(--shadow__input);
	background-color: var(--secondary-900);
	list-style: none;
}

.filter__tab[data-open="true"] .filter__body {
	display: flex;
}

.filter[data-open="true"] .filter__spacer {
	height: 5em;
}



/* --- Toggle Button --- */

.toggleBtn > input {
	display: none;
}

.toggleBtn {
	flex-grow: 1;
}

.toggleBtn__button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: .2em 0;
	min-width: 1em;
	height: 3em;
}

.toggleBtn__button.square {
	box-sizing: border-box;
	min-width: 3em;
	border: 2px solid var(--primary-400);
	background-color: var(--secondary-900);
	text-shadow: var(--shadow__button-text);
	color: var(--primary-400);
}

.toggleBtn__button.square:hover {
	border-color: var(--primary-200);
	box-shadow: var(--glow__button--light--m);
	background-color: var(--secondary-800);
	color: var(--primary-200);
}

.toggleBtn__button.square:active {
	border-color: var(--primary-600);
	box-shadow: none;
	color: var(--primary-600);
}


/* - Invalid - */
.toggleBtn__button.square.invalid {
	border-color: var(--disable-700);
	background-color: var(--disable-900);
	color: var(--disable-400);
}

.toggleBtn__button.square.invalid:hover {
	border-color: var(--disable-600);
	background-color: var(--disable-900);
	color: var(--disable-200);
}

.toggleBtn__button.square.invalid:active {
	border-color: var(--error-700);
	color: var(--error-700);
}


/* - Selected - */
.toggleBtn :checked + .square {
	background-color: var(--primary-400);
	color: var(--disable-800);
}

.toggleBtn :checked + .square:hover {
	background-color: var(--primary-200);
	color: var(--disable-700);
}

.toggleBtn :checked + .square:active {
	box-shadow: none;
	background-color: var(--primary-600);
	color: var(--disable-800);
}


/* - Error - */
.toggleBtn :checked + .square.invalid {
	border: none;
	background-color: var(--error-400);
	color: var(--secondary-800);
}

.toggleBtn :checked + .square.invalid:hover {
	box-shadow: var(--glow__button--error--light);
	background-color: var(--error-200);
	color: var(--secondary-700);
}

.toggleBtn :checked + .square.invalid:active {
	box-shadow: none;
	background-color: var(--error-500);
	color: var(--secondary-800);
}