@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap'); /*шрифт*/

html{
	/*убрать видимость прокрутки*/
	scrollbar-width: none; /* Firefox */
	--main-text-color: #51CF15;
	--main-bg-color: #00200A;
	background: no-repeat linear-gradient(to bottom,var(--main-bg-color), #003C19);
	font-weight: 300;
	font-family:'Montserrat', sans-serif;
	color:var(--main-text-color);
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/*убрать видимость прокрутки*/
::-webkit-scrollbar {
	width: 0px;
}

.diagram-container {
	overflow: auto;
}

.diagram-container::-webkit-scrollbar-track
{
	background-color: #00200A;
}

.diagram-container::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
}

.diagram-container::-webkit-scrollbar-thumb
{
	background-color: #298100;
}

#diagram {
	height: 85vh;
	padding: 4% 4% 3% 0;
}

@media( min-aspect-ratio: 4/3 ) {
	#diagram {
		width: 100%;
		box-sizing: border-box;
	}
}

/*линии на фоне*/
body {
	background: repeat url(../img/index/bg-lines.png);

}

/*клетки на фоне*/
.background-cell{
	background:repeat url(../img/index/bg-cell2.png);
	min-height: 100%;
}

