@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap'); /*шрифт*/

html{
	/*убрать видимость прокрутки*/
	scrollbar-width: none; /* Firefox */
	--main-text-color: #51CF15;
	--main-bg-color: #00200A;
	background: no-repeat linear-gradient(to bottom,var(--main-bg-color), #003C19);
	font-weight: 300;
	font-family:'Montserrat', sans-serif;
	color:var(--main-text-color);
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/*убрать видимость прокрутки*/
::-webkit-scrollbar {
	width: 0px;
}

.diagram-container {
	overflow: auto;
}

.diagram-container::-webkit-scrollbar-track
{
	background-color: #00200A;
}

.diagram-container::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
}

.diagram-container::-webkit-scrollbar-thumb
{
	background-color: #298100;
}

#diagram {
	height: 85vh;
	padding: 4% 4% 3% 0;
}

@media( min-aspect-ratio: 4/3 ) {
	#diagram {
		width: 100%;
		box-sizing: border-box;
	}
}

/*линии на фоне*/
body {
	background: repeat url(../img/index/bg-lines.png);

}

/*клетки на фоне*/
.background-cell{
	background:repeat url(../img/index/bg-cell2.png);
	min-height: 100%;
}

.elem-preview {
	position: absolute;
	bottom: 20vh;
	right: 18vw;
	width: 240px;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.elem-preview__elem-icon {
	padding: 10px;
	padding-top: 2px;
	border: 2px solid #51CF15;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	width: 120px;
	height: 120px;
	box-sizing: border-box;
}

.elem-preview__elem-number {
	padding: 5px;
	background-color: transparent;
	font-size: inherit;
	border: none;
	color: #b1ff33;
	border-bottom: 2px dotted #b1ff33;
	align-self: flex-start;
	width: 1.6em;
	text-align: center;
	transform: translateX( -8px );
}

.elem-preview__elem-number:hover {
	background-color: #51a80036;
}

.elem-preview__elem-number::selection {
	background-color: #51CF15;
	color: #00200A;
}

.elem-preview__elem-number::-webkit-outer-spin-button,
.elem-preview__elem-number::-webkit-inner-spin-button {
	display: none;
}

.elem-preview__elem-symbol {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.4em;
}

.elem-preview__elem-name {
	text-align: center;
}

.elem-btn {
	width: 50px;
	height: 80px;
	background-color: #50cf1542;
	font-size: inherit;
	border: none;
	color: #51CF15;
	font-size: 1.16em;
	padding: 8px;
}

.elem-btn:hover {
	background-color: #50cf1552;
	color: #b1ff33;
}

.elem-preview__perv-btn {
	clip-path: polygon(25px 0, 100% 0, 100% 100%, 25px 100%, 0 50%);
	text-align: right;
}

.elem-preview__next-btn {
	clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100% );
	text-align: left;
}