@value colors: '../../style/colors.css';
@value primary from colors;

@value typography: '../../style/typography.css';
@value letterSpacing_M, wordSpacing_M, extraLargeText from typography;

.title {
	composes: extraLargeText;
	max-width: 50%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: letterSpacing_M;
	color: primary;
}

.subtitle {
	margin-bottom: 50px;
	max-width: 50%;
	text-align: center;
	word-spacing: wordSpacing_M;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	min-height: 100vh;
}

/*круг загрузки*/
.loading {
	transform-origin: center center;
	animation: circle 5s 1 ease;
}

@keyframes circle {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}