.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	min-height: 100vh;
	background: repeat url(../../img/main/bg-cell3.png);
}

@value colors: '../../style/colors.css';
@value primary from colors;

@value typography: '../../style/typography.css';
@value letterSpacing_M, wordSpacing_M, extraLargeText from typography;

.title {
	composes: extraLargeText;
	max-width: 50%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: letterSpacing_M;
	color: primary;
}

.subtitle {
	margin-bottom: 50px;
	max-width: 50%;
	text-align: center;
	word-spacing: wordSpacing_M;
}