.button {
	box-sizing: border-box;
	width: 6.25em;

	border: 2px solid var(--primary-400);
	box-shadow: var(--shadow__input);
	background-color: var(--primary-400);
	cursor: pointer;
	text-shadow: var(--shadow__button-text);
	color: var(--secondary-900);
	pointer-events: auto;
}

.button.mobile {
	width: auto;
	height: auto;
	padding: .5em .625em;
}

@media (hover: hover) {
	.button {
		transition-duration: .2s;
		transition-property: background-color, color, border-color;
		transition-timing-function: ease;
	}

	.button:hover {
		border-color: var(--primary-200);
		box-shadow: var(--glow__button--primary--m);
		background-color: var(--primary-200);
		color: var(--secondary-900);
	}

	.button:disable:hover {
		border-color: var(--disable-600);
		box-shadow: var(--shadow__input);
		background-color: var(--secondary-800);
		cursor: default;
		color: var(--disable-600);
	}
}


.button:active {
	border-color: var(--primary-600);
	box-shadow: var(--shadow__input);
	background-color: var(--primary-600);
	color: var(--primary-900);
}

.button:disabled {
	border-color: var(--disable-600);
	box-shadow: var(--shadow__input);
	background-color: var(--secondary-800);
	cursor: default;
	color: var(--disable-600);
}

.text {
	composes: button from '../../style/typography.css';
	composes: button-big from '../../style/typography.css';
}

