@value sizes: '../../style/display.css';
@value mobile, laptop from sizes;

@value colors: '../../style/colors.css';
@value disable-800 from colors;

@value effects: '../../style/effects.css';
@value shadow__input from effects;


.panel {
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
	column-gap: 1em;
	padding: 0;
	padding-right: 1em;
}

.inputsRow {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1em;
	column-gap: 1em;
	padding: .5em;
	box-shadow: shadow__input;
	background-color: disable-800;
	pointer-events: auto;
}

.inputPair {
	display: flex;
	flex-basis: 0;
	column-gap: 1em;
}

@media (max-width: 940px) {
	.inputsRow {
		flex-basis: 0;
	}

}

@media (min-width: mobile) and (max-width: laptop) {

	.inputsRow {
		column-gap: .5em;
		row-gap: .5em;
	}

	.inputPair {
		column-gap: .5em;
	}
}
