@value colors: '../../style/colors.css';
@value background, main, nonClickableElement, menu, darkBacking, lightBacking, error, subtitle, subElement, text from colors;

.panel {
	display: flex;
	position: absolute;
	bottom: 3em;
	padding: 1.25em 1.25em;
	box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(150, 194, 175, 0.2);
	background-color: menu;
}

@media (max-width: 1400px) {
	.panel {
		font-size: 12px;
	}
}

@media (max-width: 950px) {
	.panel {
		font-size: 10px;
	}
}

.inputValue {
	--background: darkBacking;

	--selected: main;
	--default: lightBacking;
	--invalid: background;
	--error: error;

	--selected-text: lightBacking;
	--default-text: subElement;
	--invalid-text: menu;
	--error-text: lightBacking;

	--valid-label: #9ddf9a80;

	--selected-hover: #85D67F;
	--default-hover: #3F4E47;
	--invalid-hover: #293631;
	--error-hover: #E1645C;

	--selected-text-hover: lightBacking;
	--default-text-hover: text;
	--invalid-text-hover: subtitle;
	--error-text-hover: lightBacking;


	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	margin: 0 .75em;
	border: none;
	box-shadow: 2px 2px 3px rgba(5, 20, 13, 0.4);
	background-color: var(--background);
	color: var(--selected);
}

.inputValue[data-switch-on="false"] {
	--background: background;

	--selected: nonClickableElement;
	--default: #33403A;
	--invalid: #28332E;
	--error: #605A59;

	--selected-text: lightBacking;
	--default-text: subElement;
	--invalid-text: menu;
	--error-text: lightBacking;

	--valid-label: #62766180;
}

.row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.name {
	text-align: center;
	line-height: 120%;
	letter-spacing: 0.135em;
	font-family: Montserrat;
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
}

.sub {
	vertical-align: baseline;
	font-size: .5em;
	margin-left: -.15em;
}
