@value sizes: '../../style/display.css';
@value mobile, laptop from sizes;

.modalWindow {
	box-sizing: border-box;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	z-index: 100;

	width: 100vw;
	min-height: max(100%, 100vh);
	padding: 2em;
	overflow-y: auto;

	background-color: rgba(21, 33, 28, 0.9);
	backdrop-filter: blur(4px);
}


.window {
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	z-index: 130;
	margin: 0;

	padding: 2em;

	box-shadow: var(--glow__button--primary--m);
	background-color: var(--secondary-900);
	color: var(--secondary-100);
}


/*=============================================
=               Media Requests               =
=============================================*/


/* Smartphone */
@media (max-height: mobile), (max-width: mobile) {
	.modalWindow {
		padding: 1em;
	}
}


