html {
	/*убрать видимость прокрутки*/
	scrollbar-width: none; /* Firefox */
	background: no-repeat linear-gradient(to bottom, #00200A, #003C19);
	color: #51CF15;
}

/*убрать видимость прокрутки*/
::-webkit-scrollbar { /* Сhrome*/
	width: 0px;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	min-height: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}