@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Prompt:wght@500&display=swap');

html {
	background: linear-gradient( rgba(255,255,255, 0) 2.9em, rgba(0, 143, 71, .15) 3em) 0 0, linear-gradient(
90deg
, rgba(255,255,255, 0) 2.9em, rgba(0, 143, 71, .15) 3em) 0 0;
	background-color: #1E2C26;
	color: #96C2AF;
	font-family:'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*убрать видимость прокрутки (Firefox)*/
	/* scrollbar-width: none;  */
}

/*убрать видимость прокрутки (Chrome)*/
/* ::-webkit-scrollbar {
	width: 0px;
} */

html, body {
	margin: 0;
	height: 100%;
	padding: 0;
	overflow-x: hidden;
}

@media (pointer: fine) {

	::-webkit-scrollbar {
		width: .88em;
		background-color: #15211C;
	}

	::-webkit-scrollbar-thumb {
		background-color: #2C463A;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #456356;
	}

	::-webkit-scrollbar-thumb:active {
		background-color: #2D5E2A;
	}

}