@value colors: '../../style/colors.css';
@value primary-400, disable-500 from colors;

.progressBar {
	min-width: 30px;
	height: .5em;
	overflow: hidden;
	border-radius: .25em;
	background-color: disable-500;
	color: primary-400;
}

.infill {
	height: 100%;
	background-color: currentColor;
	transition: width 1s ease-out 0;
}