.progressBar {
	min-width: 30px;
	height: .5em;
	overflow: hidden;
	border-radius: .25em;
	background-color: var(--disable-500);
	/* color: var(--primary-500;) */
}

.infill {
	height: 100%;
	background-color: currentColor;
	transition: width 1s ease-out 0;
}