@import "../../../style/display.scss";
@import "../../../style/root.css";

.about {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 100px 16px;
	min-height: 60vh;
	scroll-margin: 20vh;

	@include laptop {
		margin-bottom: 134px;
	}

	@include tablet {
		margin-bottom: 238px;
	}

	@include mobile {
		margin-bottom: 391px;
	}
}

.header {
	text-align: center;
}

.statistic {
	margin-top: 40px;
	margin-bottom: 120px;
	gap: 0.5em;
	width: 100%;

	@include laptop {
		margin-top: 59px;
		margin-bottom: 90px;
	}

	@include tablet {
		margin-top: 30px;
		margin-bottom: 90px;
	}

	@include mobile {
		margin-top: 30px;
		margin-bottom: 90px;
	}
}

.container {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(4, 1fr);

	@include mobile {
		grid-template-columns: repeat(2, 1fr);

		:nth-child(2n) {
			justify-self: left;
		}

		:nth-child(2n+1) {
			justify-self: right;
		}
	}
}

.bold_heading {
	font-size: 3.33em;
	font-weight: 800;
}

.partners {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;

	@include laptop {
		gap: 40px;
	}

	@include tablet {
		gap: 34px;
	}

	@include mobile {
		justify-content: space-between;
	}
}


.partners img {
	max-height: 84px;

	@include laptop {
		max-height: 65px;
	}

	@include tablet {
		max-height: 57px;
	}

	@include mobile {
		max-height: 57px;
	}
}