.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	padding: 0.5em 1em;
	background-color: var(--disable-800);
	box-shadow: var(--shadow__input);
	user-select: none;
}

.switch {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5em;
}

.toggle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-width: 16em;
	padding: 0.75em;
	gap: 0.625em;
	background-color: var(--secondary-800);
	color: var(--primary-100);
}

@media (hover: hover) {
	.toggle:hover {
		background-color: var(--secondary-900);
	}
}

.toggle:active {
	color: var(--primary-200);
}

/* selected */
.toggle:disabled {
	background-color: var(--primary-600);
	color: var(--primary-50);
}

.icon {
	height: 1.125em;
	width: 2.5em;
}


@value sizes: '../../style/display.css';
@value mobile, tablet, laptop from sizes;

@media (min-height: mobile) and (max-height: tablet),
(min-width: mobile) and (max-width: laptop) {

	.panel {
		padding: 0.5em 0.75em;
	}

	.toggle {
		min-width: 13em;
	}

	.icon {
		height: 1em;
		width: 2em;
	}
}

@media (max-width: tablet) {

	.toggle {
		min-width: 11em;
	}
}

@media (max-width: mobile), (max-height: mobile) {

	.panel {
		padding: 0.5em;
	}
	/* надпись на панели исчезает на маленьких экранах */
	.panel > span {
		display: none;
	}

	.toggle {
		min-width: 10em;
		padding: 0.5em;
		gap: 0.5em;
	}

	.icon {
		height: 0.875em;
		width: 1.75em;
	}
}

/* перелом, с которого кнопки располагаются друг под другом */
@media screen and (max-width: 500px) {
	.switch {
		flex-direction: column;
	}
}