@import "../../../style/display.scss";
@import "../../../style/root.css";

.section {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 150px 16px;
	min-height: 60vh;
	scroll-margin: 20vh;
}

.header {
	text-align: center;
}

.content {
	box-sizing: border-box;
	display: flex;
	position: relative;
	justify-content: stretch;
	margin-top: 30px;
	max-width: 1200px;
	height: fit-content;
	padding: 0 44px;
	transition-duration: .2s;
	transition-property: margin, padding;
	transition-timing-function: ease;

	@include tablet {
		margin-top: 24px;
		padding: 0 23px;
	}

	@include mobile {
		display: flex;
		flex-direction: column;
		margin-top: 24px;
		padding: 0 16px;
	}
}

.manual {
	flex-grow: 1;
	width: 100%;

	&::before, &::after {
		display: block;
		position: absolute;
		top: 0;
		z-index: 1;
		width: 7%;
		height: 100%;
		background: var(--secondary-800);
		content: '';
	}

	&::before {
		left: 0;
		background: linear-gradient(to right, #1F2C27, #1F2C2700);
	}

	&::after {
		right: 0;
		background: linear-gradient(to left, #1F2C27, #1F2C2700);
	}
}

.slide-number {
	align-self: center;
	width: 1.2em;
	text-align: right;
	line-height: 140%;
	font-size: 240px;
	font-weight: 700;

	@include laptop {
		font-size: 192px;
	}

	@include tablet {
		font-size: 168px;
	}

	@include mobile {
		position: absolute;
		top: 1vw;
		right: 13vw;
		opacity: 0.4;
		line-height: 100%;
		font-size: 40px;
	}
}

.action {
	position: absolute;
	top: calc( 100% + 2em );
	left: calc( 16px + 7% );

	@include mobile {
		top: calc( 100% + 8em );
		right: 0;
		left: 0;
		margin: 0 auto;
		width: fit-content;
	}
}

.button-location {
	display: none;
	align-self: flex-start;
	padding: 12px 18px;
	grid-column: 1;
	grid-row: 2;
	justify-self: center;

	@include laptop {
		padding: 10px 15px;
	}

	@include tablet {
		padding: 8px 14px;
	}

	@include mobile {
		order: 2;
		padding: 8px 14px;
	}
}

.description {
	box-sizing: border-box;
	position: absolute;
	top: calc( 100% - 2em );
	right: 0;
	z-index: 2;
	width: 630px;
	height: fit-content;
	padding: 30px;
	background-color: var(--secondary-900);
	color: var(--secondary-100);
	transition: top .2s ease;
	white-space: pre-line;


	@include laptop {
		width: 535px;
		padding: 24px;
	}

	@include tablet {
		top: calc( 100% - 3em );
		width: min( 567px, 100% );
		padding: 12px;
	}

	@include mobile {
		top: calc( 100% + 1em );
		margin-bottom: 15px;
		width: 100%;
		padding: 12px;
		transform: none;
	}
}