@import "../../../style/display.scss";
@import "../../../style/root.css";

.header {
	text-align: center;
}

.content {
	box-sizing: border-box;
	display: flex;
	justify-content: stretch;
	margin: 40px auto 206px;
	max-width: 1200px;
	height: 390px;
	padding: 0 44px;
	position: relative;

	@include laptop {
		margin-top: 30px;
		margin-bottom: 150px;
		padding: 0 44px;
	}

	@include tablet {
		margin-top: 24px;
		margin-bottom: 142px;
		padding: 0 23px;
		height: 320px;
	}

	@include mobile {
		display: flex;
		flex-direction: column;
		margin-top: 24px;
		margin-bottom: 186px;
		min-height: 400px;
		padding: 0 16px;
	}
}

.manual {
	width: 100%;
	flex-grow: 1;
	aspect-ratio: 16 / 9;
}

.slide-number {
	align-self: center;
	width: 1.2em;
	line-height: 140%;
	font-size: 240px;
	font-weight: 700;
	text-align: right;

	@include laptop {
		font-size: 192px;
	}

	@include tablet {
		font-size: 168px;
	}

	@include mobile {
		position: absolute;
		top: 1vw;
		right: 13vw;
		line-height: 100%;
		color: var(--secondary-600);
		font-size: 48px;
	}
}

.button-location {
	display: none;
	align-self: flex-start;
	padding: 12px 18px;
	grid-column: 1;
	grid-row: 2;
	justify-self: center;

	@include laptop {
		padding: 10px 15px;
	}

	@include tablet {
		padding: 8px 14px;
	}

	@include mobile {
		order: 2;
		padding: 8px 14px;
	}
}

.description {
	box-sizing: border-box;
	z-index: 2;
	width: 670px;
	height: fit-content;
	padding: 30px;
	background-color: var(--secondary-900);
	color: var(--secondary-100);
	position: absolute;
	top: calc( 100% - 2em );
	right: 0;
	transition: top .2s ease;


	@include laptop {
		width: 535px;
		padding: 24px;
	}

	@include tablet {
		width: 367px;
		padding: 12px;
		top: calc( 100% - 3em );
	}

	@include mobile {
		margin-bottom: 15px;
		width: 100%;
		padding: 12px;
		transform: none;
	}
}