@value sizes: '../../style/display.css';
@value mobile, laptop from sizes;

.scale {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	column-gap: .5em;
}

.input {
	display: none;
}


.input:checked ~ .value > .star {
	stroke: var(--primary-100);
	fill: var(--primary-100);
	filter: drop-shadow( var(--glow__button--light--m) );
}

.star {
	stroke: var(--primary-400);
	fill: var(--secondary-800);
	cursor: pointer;
}

@media screen and (hover: hover) {
	.star:hover {
		stroke: var(--primary-200);
		fill: var(--secondary-700);
	}

	.input:checked ~ .value > .star:hover {
		stroke: var(--primary-200);
		fill: var(--primary-200);
	}
}

@media (max-width: laptop) and (min-width: mobile) {
	.star {
		width: 2.5em;
		height: 2.5em;
	}
}

@media (max-height: mobile), (max-width: mobile) {
	.star {
		width: 100%;
		height: 2em;
	}
}