@value colors: '../../style/colors.css';
@value light, primary, dark from colors;

@value typography: '../../style/typography.css';
@value letterSpacing_M, lineHeight_M, wordSpacing_M, lightWeight, mediumWeight, largeText, mediumText from typography;

.title {
	margin: 0;
}

.details {
	composes: mediumText;
	line-height: lineHeight_M;
	word-spacing: wordSpacing_M;
	color: light;
	font-weight: lightWeight;
}

/*уберем стандартные маркеры*/
.button::-webkit-details-marker {
	display: none;
}

/*аналогично Для Firefox*/
/* summary {display: block;} */


/*кнопки открывающихся блоков*/
.button {
	composes: largeText;
	
	box-sizing: border-box;
	display: block;
	margin-top: 1em;
	width: 24em;
	padding: 0.3em 0.5em 0.3em 2.5em;
	
	outline: none;
	border: 3px solid primary;
	background-color: primary;
	background-image: url(../../img/theory/arrow_down.png);
	background-position: 0.5em 0.7em;
	background-repeat: no-repeat;
	cursor: pointer;
	
	line-height: lineHeight_M;
	word-spacing: wordSpacing_M;
	color: dark;
	font-weight: mediumWeight;
}

/*при открытии*/
.details[open] .button{
	background-color: transparent;
	background-image: url(../../img/theory/arrow_up.png);
	background-position: 0.5em 0.5em;
	color: primary;
}

/* @media screen and (max-width:1300px) {
	.title {
		font-size: 20px;
	}
} */

